{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block content %}




<h1>Modal window!</h1>

<!-- Button trigger modal -->
{#<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">#}
{#        Посмотреть демо#}
{#      </button>#}

<a href="#openModal" data-toggle="modal">Открыть модальное окно</a>

<!-- Modal -->
<div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Название модали</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Сохранить изменения</button>
      </div>
    </div>
  </div>
</div>

{# <script>#}
{#   window.onload = function(){#}
{#         document.querySelector('a[href="#openModal"]').click();#}
{#      }#}
{# </script>#}

<script type="text/javascript">
       window.onload = function(){
         document.querySelector('a[href="#openModal"]').click();
      }
    setTimeout('location.replace("/")', 3000);
    /*Изменить текущий адрес страницы через 3 секунды (3000 миллисекунд)*/
</script>

{% endblock %}