{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load banner %}


{% block title %}
    Корзина
{% endblock %}

{% block content %}
		<!-- START PAGE-CONTENT -->
		<section class="page-content">
			<div class="container">
	            <div class="row">
					<div class="col-md-12">
						<ul class="page-menu">
							<li><a href="/">Главная</a></li>
							<li class="active"><a href="{% url 'cart:cart' %}">Корзина</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						{% include 'shop/menu-category.html' %} <!-- Подгружаем код из шаблона shop/menu-category.html -->
						{% include 'shop/bestseller.html' %} <!--Подгружаем код из файла shop/bestseller.html -->
					</div>
					<div class="col-md-9">
						<!-- START PRODUCT-BANNER -->
						<div class="product-banner">
							<div class="row">
                                {% center_big_banner %} <!-- Большой баннер 870×216 -->
							</div>
						</div>
						<!-- END PRODUCT-BANNER -->
						<!-- Start Shopping-Cart -->
						<div class="shopping-cart">
							<div class="row">
								<div class="col-md-12">
									<div class="cart-title">
										<h2>Корзина</h2><!-- Для английского шрифта указаьть class="entry-title"  -->
									</div>
									<!-- Start Table -->
                                    <div id="cart-table">

                                    </div>
									<div class="shopping-checkout">
										<a href="{% url 'shop:catalog' %}" class="btn btn-success pull-left">Продолжить покупки</a>
                                        {%  if not request.cart.is_empty %}
                                            <a href="{% url 'cart:checkout' %}" id="btn-checkout" class="btn btn-primary pull-right">Далее</a>
                                        {% endif %}
									</div>
								</div>
							</div>
						</div>
						<!-- End Shopping-Cart -->
					</div>
				</div>
			</div>
        </section>
{% endblock content %}

