{% extends 'account/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load banner %}
{% load i18n %}


{% block title %}
    Проверить данные о товаре
{% endblock %}

{#<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>#}

{% block content %}

        <!-- Стили для фокуса в placeholder-->
    <style>
        :focus::-webkit-input-placeholder {color: transparent}
        :focus::-moz-placeholder          {color: transparent}
        :focus:-moz-placeholder           {color: transparent}
        :focus:-ms-input-placeholder      {color: transparent}
    </style>

    <!-- START PAGE-CONTENT -->
		<section class="page-content">
			<div class="container">
	            <div class="row">
					<div class="col-md-12">
						<ul class="page-menu">
							<li><a href="/">Home</a></li>
							<li><a href="{% url 'cart:cart' %}">Shopping Cart</a></li>
							<li class="active"><a href="{% url 'cart:checkout' %}">Checkout</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						{% include 'shop/menu-category.html' %} <!-- Подгружаем код из шаблона shop/menu-category.html -->
						{% include 'shop/bestseller.html' %} <!--Подгружаем код из файла shop/bestseller.html -->
					</div>
					<div class="col-md-9">
						<!-- START PRODUCT-BANNER -->
						<div class="product-banner">
							<div class="row">
                                {% center_big_banner %} <!-- Большой баннер 870×216 -->
							</div>
						</div>
						<!-- END PRODUCT-BANNER -->
						<!-- Start checkout-area -->
						<div class="checkout-area">
							<div class="row">
                                {% if request.cart.cartproduct_set.all %}
								<div class="col-md-12">
									<div class="cart-title">
										<h2 class="entry-title">Checkout</h2>
									</div>
									<!-- Accordion start -->
									<div class="panel-group" id="accordion">
                                        {% if not request.user.is_authenticated %}
										<!-- Start 1 Checkout-options -->
										<div class="panel panel_default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="accordion-trigger" data-toggle="collapse" data-parent="#accordion" href="#checkout-options">Step 1: Checkout Options  <i class="fa fa-caret-down"></i> </a>
												</h4>
											</div>
											<div id="checkout-options" class="collapse in">
												<div class="panel-body">
													<div class="row">
														<div class="col-md-6 col-xs-12">
                                                            <div class="checkout-collapse">
                                                                <h3 class="title-group-3 gfont-1">New Customer</h3>
                                                                <p>Checkout Options</p>
                                                                <a href="{% url 'account_signup' %}">
                                                                    <button class="btn btn-primary">Register Account
                                                                    </button>
                                                                </a>
                                                                    <br><br>
                                                                <p>By creating an account you will be able to shop
                                                                    faster, be up to date on an order's status, and keep
                                                                    track of the orders you have previously made.</p>
                                                                <br><br>
                                                                <a href="{% url 'order:create_orders' %}">
                                                                    <button class="btn btn-primary">Guest Checkout
                                                                    </button>
                                                                </a>
                                                                    <br><br>
                                                                <p>Order as guest</p>
                                                            </div>
														</div>
														<div class="col-md-6 col-xs-12">
															<div class="checkout-collapse">
																<h3 class="title-group-3 gfont-1">Returning Customer</h3>
																<p>I am a returning customer</p>
                                                                <a href="{% url 'account_login' %}"><button class="btn btn-primary">Authorization</button></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
                                        {% endif %}


										<!-- Start 6 Checkout-Confirm -->
                                            <div class="panel panel_default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-trigger" data-toggle="collapse" data-parent="#accordion" href="#checkout-confirm">Step 2: Confirm Order <i class="fa fa-caret-down"></i> </a>
                                                    </h4>
                                                </div>
                                                <div id="checkout-confirm" class="collapse in">
                                                    <div class="panel-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-hover bmw">
                                                                <thead>
                                                                    <tr>
                                                                        <td class="text-center">Images</td>
                                                                        <td class="text-left">Product Name</td>
                                                                        <td class="text-center">Quantity</td>
                                                                        <td class="text-right">Unit Price</td>
                                                                        <td class="text-right">Total</td>
                                                                    </tr>
                                                                </thead>
                                                                {% for item in request.cart.cartproduct_set.all %}
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="text-center">
                                                                            <img class="img-thumbnail" src="{{ item.product.images|thumbnail_url:'cart' }}" alt="{{ item.product.title }}" />
                                                                        </td>
                                                                        <td class="text-left">{{ item.product.title }}<br><br><small>Vendor code: <span class="text-stock">{{ item.product.vendor_code }}</span></small></td>
                                                                        <td class="text-center">{{ item.quantity }}</td>
                                                                        <td class="text-right">&#8381; {{ item.product.price }}</td>
                                                                        <td class="text-right">&#8381; {{ item.discount_price }}</td>
                                                                    </tr>
                                                                </tbody>
                                                                {% endfor %}
                                                                <tfoot>
                                                                    <tr>
                                                                        <td class="text-right" colspan="4">
                                                                            <strong>Total:</strong>
                                                                        </td>
                                                                        <td class="text-right"><strong>&#8381; {{ request.cart.discount_price }}</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-right" colspan="4">
                                                                            <strong>Total amount:</strong>
                                                                        </td>
                                                                        <td class="text-right">{{ request.cart.count_products }} шт.</td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                        <div class="buttons pull-right">
                                                            {% if request.user.is_authenticated %}
                                                                <a href="{% url 'order:create_orders' %}"><input type="button" class="btn btn-primary" value="Confirm Order" /></a>
                                                            {% endif %}
                                                        </div>
                                                        <div class="buttons pull-left">
                                                            <a href="{% url 'cart:cart' %}"><input type="button" class="btn btn-success" value="Return To Cart" /></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="shopping-checkout">
                                                    <h2 class="entry-title">Your basket is empty</h2>
                                                    <a href="{% url 'shop:catalog' %}" class="btn btn-success pull-left">Continue
                                                        Shopping</a>
                                                </div>
                                            </div>
										<!-- End Checkout-Confirm -->
									</div>
									<!-- Accordion end -->
								</div>
                                {% endif %}
							</div>
						</div>
						<!-- End Shopping-Cart -->
					</div>
				</div>
			</div>
        </section>
{% endblock content %}
{% comment %}{% endcomment %}