{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title %}{{ about.last }}{% endblock %}

{% block content %}
<!-- START PAGE-CONTENT -->
<section class="page-content">
    <div class="container">
        <div class="row">
                <div class="col-md-12">
                    <ul class="page-menu">
                        <li><a href="/">Главная</a></li>
                        <li class="active"><a href="{% url 'contacts:about' %}">О нас</a></li>
                    </ul>
                </div>
            {% for abt in about %}
            <div class="text-center">
                <h1>{{ abt.title }}</h1>
                <div style="font-size: 16px; text-align: justify">

                    {{ abt.text|safe }}

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- End Our-Team -->
</section>


{% endblock content %}