{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block content %}

<style>

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}


/* Conatct start  для блока MAIL & WEBSITE, CONTACT, ADDRESS */

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #00bfff; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:185px;}
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }
.box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 15px; color: #666; line-height: 1.5em; margin: 20px; margin-left: 10px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }

@media only screen and (max-width: 768px)
{
    .contact-form
    {
        margin-top:25px;
    }

    .btn-send
    {
        width: 100%;
        padding:10px;
    }

    .second-portion
    {
        margin-top:25px;
    }
}
/* Conatct end */

</style>

		<!-- START PAGE-CONTENT -->
		<section class="page-content">
			<div class="container">
	            <div class="row">
					<div class="col-md-12">
						<ul class="page-menu">
							<li><a href="/">Home</a></li>
							<li class="active"><a href="{% url 'contacts:contact' %}">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						{% include 'shop/menu-category.html' %} <!-- Подгружаем код из шаблона shop/menu-category.html -->
						{% include 'shop/bestseller.html' %} <!--Подгружаем код из файла shop/bestseller.html -->
					</div>
					<div class="col-md-9">
						<!-- Start Map area -->
                        {% for map in map_url %}
                            <div class="map-area">
                                <iframe src="{{ map.maps }}" width="100%" height="350px" frameborder="1" allowfullscreen="true"></iframe>

    {#							<div id="googleMap" style="width:100%;height:350px;"></div>#}
                            </div>
                        {% endfor %}
                        <br>
						<!-- End Map area -->

                            <!-- Блок MAIL & WEBSITE, CONTACT, ADDRESS -->
{#                    {% for adres in address %}#}
                            <div class="row">
                                <!-- Boxes de Acoes -->
                                <div class="col-xs-12 col-sm-6 col-lg-4">
                                    <div class="box">
                                        <div class="icon">
                                            <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                            <div class="info">
                                                <h3 class="title">MAIL & WEBSITE</h3>
                                                <p>
                                                    <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp
                                                    {{ address.email_one }}
                                                    <br>
                                                    <br>
                                                    <i class="fa fa-globe" aria-hidden="true" style="margin-right: 5px;"></i> &nbsp
                                                    {{ address.website }}
                                                </p>

                                            </div>
                                        </div>
                                        <div class="space"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-lg-4">
                                    <div class="box">
                                        <div class="icon">
                                            <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                                            <div class="info">
                                                <h3 class="title">CONTACT</h3>
                                                <p>
                                                    <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp
                                                    {{ address.phone_one }}
                                                    <br>
                                                    <br>
                                                    <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp
                                                    {{ address.phone_two }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="space"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-lg-4">
                                    <div class="box">
                                        <div class="icon">
                                            <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                                            <div class="info">
                                                <h3 class="title">ADDRESS</h3>
                                                <p>
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp
                                                     {{ address.address }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="space"></div>
                                    </div>
                                </div>
                                <!-- /Boxes de Acoes -->
                            </div>
{#                    {% endfor %}#}
                            <!-- / Блок MAIL & WEBSITE, CONTACT, ADDRESS -->



{#                    	<!-- Contact Info -->#}
{#	        			<p class="contact-us-details">#}
{#	        				<b>Address:</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br/>#}
{#	        				<b>Phone:</b> +44 123 654321<br/>#}
{#	        				<b>Fax:</b> +44 123 654321<br/>#}
{#	        				<b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>#}
{#	        			</p>#}
{#	        			<!-- End Contact Info -->#}

                        {% if messages %}
                            {% for message in messages %}
                              <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                              </div>
                            {% endfor %}
                        {% endif %}

						<!-- Start Contact-Message -->
						<div class="contact-message">
							<fieldset>
								<form method="post" action="{% url 'contacts:contact' %}">
                                    {% csrf_token %}
									<legend>Contact Form</legend>
									<div class="form-group form-horizontal">
										<div class="row">
											<label class="col-sm-2 control-label"><sup>*</sup>Your Name</label>
											<div class="col-sm-10">
												{{ form.full_name }}
											</div>
										</div>
									</div>
									<div class="form-group form-horizontal">
										<div class="row">
											<label class="col-sm-2 control-label"><sup>*</sup>Your Phone</label>
											<div class="col-sm-10">
												{{ form.phone }}
											</div>
										</div>
									</div>
									<div class="form-group form-horizontal">
										<div class="row">
											<label class="col-sm-2 control-label"><sup>*</sup>E-Mail Address</label>
											<div class="col-sm-10">
												{{ form.email }}
											</div>
										</div>
									</div>
									<div class="form-group form-horizontal">
										<div class="row">
											<label class="col-sm-2 control-label"><sup>*</sup>Enquiry</label>
											<div class="col-sm-10">
												{{ form.text }}
											</div>
										</div>
									</div>
                                    <div class="row">
                                        <label class="col-sm-12 control-label"><sup>*</sup>Fields marked with an asterisk are required!</label>
                                    </div>
                                    <div class="col-md-12">
                                      <div class="form-group pull-right">
                                        <label for="id_captcha">Captcha {{ form.captcha.label }}
                                            <span style="color: red; display: inherit;">{{ form.captcha.errors }}</span>
                                        </label>
                                          <div class="container-fluid">
                                            <div class="row">
                                                {{ form.captcha }}
                                                <button class='captcha-refresh'>
                                                    <img src="{% static 'info/news/icon/reload.png' %}" alt="reload">
                                                </button>
                                            </div>
                                           </div>
                                        <div class="help-block with-errors"></div>
                                      </div>
                                    </div>
                                    <div class="pull-right">
                                        <input name="agree" type="checkbox" id="form">
                                            <label for="form">
                                                I have read and agree to the
                                            </label>
                                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg"><b>Privacy Policy</b></a>
                                        <input class="btn btn-primary" type="submit" value="submit" name="submit" disabled="" style="margin-left: 5px;">
                                    </div>
								</form>
							</fieldset>
						</div>
						<!-- End Contact-Message -->
					</div>
				</div>
			</div>

            <!-- Скрипт чекбокса политики конфидециальности, если флаг не установле, то кнопка submit не активна! -->
            <script>
                    //JavaScript
                form.onchange = function(){
                  var button = document.body.getElementsByClassName('btn')[0];
                  if(button.disabled) button.disabled = false;
                  else button.disabled = true;
                }

                //Jquery
                $('#form').on('change', function(){
                  if($(this).is(':checked')) $('.btn').attr('disabled', false);
                  else $('.btn').attr('disabled', true);
                });
            </script>

		<!-- Google Map js -->
{#        <script src="https://maps.googleapis.com/maps/api/js"></script>#}
{##}
{#		<script>#}
{#			function initialize() {#}
{#				var mapOptions = {#}
{#					zoom: 5,#}
{#					scrollwheel: false,#}
{#					center: new google.maps.LatLng(40.7058316, -74.2581978)#}
{#				};#}
{##}
{#				var map = new google.maps.Map(document.getElementById('googleMap'),#}
{#					mapOptions);#}
{##}
{#				var marker = new google.maps.Marker({#}
{#					position: map.getCenter(),#}
{#					animation:google.maps.Animation.BOUNCE,#}
{#					icon: 'img/map-marker.png',#}
{#					map: map#}
{#				});#}
{#			}#}
{##}
{#			google.maps.event.addDomListener(window, 'load', initialize);#}
{#		</script>#}

        </section>
{% endblock content %}