
{% load staticfiles %}


                <p>
                    Укажите свой контактный телефон, и мы
                    перезвоним вам в течение нескольких минут:
                </p>


                <!-- Start Contact-Message -->
                <div class="contact-message">
                    <fieldset>
                        <form method="post" action=".">
                            {% csrf_token %}
                            <div class="form-group form-horizontal">
                                <div class="row">
                                    <label class="col-sm-2 control-label"><sup>*</sup>Your Name</label>
                                    <div class="col-sm-10">
                                        {{ form.full_name }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-horizontal">
                                <div class="row">
                                    <label class="col-sm-2 control-label"><sup>*</sup>Your Phone</label>
                                    <div class="col-sm-10">
                                        {{ form.phone }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-horizontal">
                                <div class="row">
                                    <label class="col-sm-2 control-label"><sup></sup>Enquiry</label>
                                    <div class="col-sm-10">
                                        {{ form.text }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-12 control-label"><sup>*</sup>Fields marked with an asterisk are
                                    required!</label>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group pull-right">
                                    <label for="id_captcha">Captcha {{ form.captcha.label }}
                                        <span style="color: red; display: inherit;">{{ form.captcha.errors }}</span>
                                    </label>
                                    <div class="container-fluid">
                                        <div class="row">
                                            {{ form.captcha }}
                                            <button class='captcha-refresh'>
                                                <img src="{% static 'info/news/icon/reload.png' %}" alt="reload">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <input class="btn btn-primary" type="submit" value="submit" name="submit">
                            </div>
                        </form>
                    </fieldset>
                    <br>
                        {% if messages %}
                            {% for message in messages %}
                              <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                              </div>
                            {% endfor %}
                        {% endif %}
                </div>
                <!-- End Contact-Message -->


