{% load staticfiles %}
{% load thumbnail %}
{% load bootstrap3 %}





<!-- Кнопка раскрывает скрытый блок -->
<div class="container-fluid">
    <button type="button" class="btn btn-info" onclick="openForm()" style="display: block">Добавить отзыв</button>
</div>
<br>



<!-- Скрытый блок в котором выводиться форма отзыва-->
<div class="reviews" style="display: none;">

    <!-- Форма добавления отзыва-->
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">

            <form id="contact-form" action="{% url 'reviews:create-review' %}" method="post" role="form" enctype="multipart/form-data" onsubmit="submit_review_form(event)">
                {% csrf_token %}

            <div class="messages"></div>

            <div class="controls">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_name">Рейтинг <sup>*</sup></label>
                            {{ form.product }}<!-- Скрытое поле product в forms.py в виджете-->
                            {{ form.rating }}

							<div class="review-block-rate">
								<button type="button" class="btnrating btn btn-default btn-xs" aria-label="Left Align" data-attr="1" id="rating-star-1">
								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
								<button type="button" class="btnrating btn btn-default btn-xs" aria-label="Left Align" data-attr="2" id="rating-star-2">
								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
								<button type="button" class="btnrating btn btn-default btn-xs" aria-label="Left Align" data-attr="3" id="rating-star-3">
								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
								<button type="button" class="btnrating btn btn-default btn-xs" aria-label="Left Align" data-attr="4" id="rating-star-4">
								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
								<button type="button" class="btnrating btn btn-default btn-xs" aria-label="Left Align" data-attr="5" id="rating-star-5">
								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
                                <span class="selected-rating" style="font-size: 14px; margin-left: 15px;"></span>
							</div>
                        </div>
                    </div>
                </div>
              {% if not request.user.is_authenticated %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form_name">Ваш никнейм или ФИО <sup>*</sup></label>
                      {{ form.user_name }}
{#                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your nickname *" required="required" data-error="Nickname is required.">#}
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form_email">Ваш E-mail</label>
                      {{ form.email }}
{#                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email" >#}
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form_city">Город</label>
                      {{ form.city }}
{#                    <input id="form_city" type="city" name="city" class="form-control" placeholder="Please enter your city " >#}
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleSelect1">Период использования <sup>*</sup></label>
                      {{ form.period }}
{#                      {% bootstrap_form form exclude='user,user_name,email,city,image,video,merits,limitations,comment' %}#}
{#                    <select class="form-control" id="exampleSelect1" placeholder="Period of use *" required="required" >#}
{#                      <option>select the period of use</option>#}
{#                      <option>1</option>#}
{#                      <option>2</option>#}
{#                      <option>3</option>#}
{#                      <option>4</option>#}
{#                      <option>5</option>#}
{#                    </select>#}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="form_merits">Достоинства <sup>*</sup></label>
                      {{ form.merits }}
{#                    <textarea id="form_merits" name="merits" class="form-control" placeholder="Merits *" rows="4" required data-error="Please,leave us a message."></textarea>#}
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="form_limitations">Недостатки <sup>*</sup></label>
                      {{ form.limitations }}
{#                    <textarea id="form_limitations" name="limitations" class="form-control" placeholder="Limitations *" rows="2" required data-error="Please,leave us a message."></textarea>#}
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="form_comment">Комментарий <sup>*</sup></label>
                      {{ form.comment }}
{#                    <textarea id="form_comment" name="comment" class="form-control" placeholder="Comment *" rows="2" required data-error="Please,leave us a message."></textarea>#}
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                 <div class="col-md-12">
                  <div class="form-group">
                    <label for="form_video">Ссылка на видео</label>
                      {{ form.video }}
{#                    <input id="form_video" name="video" class="form-control" placeholder="link to video" rows="2" >#}
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="form_uploading">Загрузить изображение</label>
                      <div class="container-fluid">
                        <div class="row">
{#                            {{ form.image }}#}
                            <input type="file" id="id_image" name="image" onchange="readURL(this);">
                        </div>
                      </div>
                      <br>
                        <img id="blah" src="{% static 'info/reviews/150.png' %}" alt="your image" />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                {% if not request.user.is_authenticated %}
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="id_captcha">Captcha: {{ form.captcha.label }} <sup>*</sup></label>
                      <div class="container-fluid">
                        <div class="row">
                            {{ form.captcha }}
                            <button class='captcha-refresh'>
                                <img src="{% static 'info/news/icon/reload.png' %}" alt="reload">
                            </button>
                        </div>
                      </div>
                  </div>
                </div>
                {% endif %}
                  <br>
                <div class="help-block with-errors">Поля отмеченные <sup>*</sup>обязательны к заполнению!</div>
                <div class="col-md-12">
                  <input type="submit" class="btn btn-success btn-send" value="Отправить">

                  <!-- Кнопка которая скрывает блок с формой -->
                  <button class="btn btn-danger btn-sm pull-right" onclick="closeForm()">Отменить</button>
                </div>

              </div>

            </div>

            </form>

          </div>

        </div>

    </div>
    <!-- Конец формы -->


{#    <div class="container-fluid">#}
{#        <button class="btn btn-danger btn-sm" pull-right onclick="closeForm()">close</button>#}
{#    </div>#}
</div>
<br><br>
<hr>


<!-- Вывод отзыва -->
    <div>
		<div class="row">
			<div class="col-sm-4">
				<div class="rating-block">
					<h4>Средний рейтинг</h4>
					<h2 class="bold padding-bottom-7">
                        {% if rating_info.avg %}
                        {{ rating_info.avg|floatformat }} <small>/ 5</small>
                            {% else %}
                            0 <small>/ 5</small>
                        {% endif %}
                    </h2>

                    {% for x in '12345' %}
                        <button type="button" class="btnrating {% if forloop.counter <= rating_info.avg %}btn-warning{% else %}btn-default btn-grey{% endif %} btn-sm" aria-label="Left Align">
                          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                    {% endfor %}

 {#					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">#}
{#					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>#}
{#					</button>#}
{#					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">#}
{#					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>#}
{#					</button>#}
{#					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">#}
{#					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>#}
{#					</button>#}
{#					<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">#}
{#					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>#}
{#					</button>#}
{#					<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">#}
{#					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>#}
{#					</button>#}
				</div>
			</div>
			<div class="col-sm-5">
				<h4>Разбивка рейтинга</h4>
				<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: {% widthratio rating_info.stars5 rating_info.stars 100 %}%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px; color: #0094D9;">{{ rating_info.stars5 }} - отзывов</div>
				</div>
				<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: {% widthratio rating_info.stars4 rating_info.stars 100 %}%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px; color: #0094D9;">{{ rating_info.stars4 }} - отзывов</div>
				</div>
				<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: {% widthratio rating_info.stars3 rating_info.stars 100 %}%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px; color: #0094D9;">{{ rating_info.stars3 }} - отзывов</div>
				</div>
				<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: {% widthratio rating_info.stars2 rating_info.stars 100 %}%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px; color: #0094D9;">{{ rating_info.stars2 }} - отзывов</div>
				</div>
				<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: {% widthratio rating_info.stars1 rating_info.stars 100 %}%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px; color: #0094D9;">{{ rating_info.stars1 }} - отзывов</div>
				</div>
				<div class="pull-left" style="margin-top: 5px; color: #0094D9;">
					<p>Всего голосов: {{ rating_info.stars }}</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-10">
				<hr/>
                {% for rev in reviews %}
				<div class="review-block">
					<div class="row">
						<div class="col-sm-3">
                            {% if rev.user.profile.avatar %}
                                <div class="comment-author">
                                    <img src="{{ rev.user.profile.avatar.url }}" class="img-rounded">
                                </div>
                            {% else %}
                                <img src="{% static 'info/reviews/User_48x48.png' %}" style="width: 48px; height: 48px;" class="img-rounded">
                            {% endif %}
                            {% if rev.user.profile %}
							    <div class="review-block-name"><a href="#">{{ rev.user.profile }}</a></div>
                                {% else %}
                                <div class="review-block-name"><a href="#">{{ rev.user_name }}</a></div>
                            {% endif %}
							<div class="review-block-date"><strong><u>Срок использования:</u></strong><br>{{ rev.get_period_display }}</div>&nbsp; <!-- get_period_display метод который выводит из модели нужное значение Choices, period - это поле из модели -->
							<div class="review-block-date"><strong><u>Дата отзыва:</u></strong><br>{{ rev.created }}</div>&nbsp;
                            <div class="review-block-date"><strong><u>Город пользователя:</u></strong><br>{{ rev.city }}</div>&nbsp;
						</div>
						<div class="col-sm-9">
                          <div class="" style="margin-left: 10px">
							<div class="review-block-rate">
                                <div class="pull-right">
                                    <span>Отзыв №</span><span style="color: #0094D9;"> <u>{{ rev.id }}</u></span>
                                </div>
                            {% for x in '12345' %}
                                    <button type="button" class="btn {% if forloop.counter <= rev.rating %}btn-warning{% else %}btn-default btn-grey{% endif %} btn-xs" aria-label="Left Align">
                                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    </button>
                                {% endfor %}
{#								<button type="button" class="btn {% if rev.rating >= 1 %}btn-warning{% else %}btn-default btn-grey{% endif %} btn-xs" aria-label="Left Align">#}
{#								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>#}
{#								</button>#}
{#								<button type="button" class="btn {% if rev.rating >= 2 %}btn-warning{% else %}btn-default btn-grey{% endif %} btn-xs" aria-label="Left Align">#}
{#								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>#}
{#								</button>#}
{#								<button type="button" class="btn {% if rev.rating >= 3 %}btn-warning{% else %}btn-default btn-grey{% endif %} btn-xs" aria-label="Left Align">#}
{#								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>#}
{#								</button>#}
{#								<button type="button" class="btn {% if rev.rating >= 4 %}btn-warning{% else %}btn-default btn-grey{% endif %} btn-xs" aria-label="Left Align">#}
{#								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>#}
{#								</button>#}
{#								<button type="button" class="btn {% if rev.rating >= 5 %}btn-warning{% else %}btn-default btn-grey{% endif %} btn-xs" aria-label="Left Align">#}
{#								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>#}
{#								</button>#}
                                <span class="selected-rating">{{ rev.get_rating_display }}</span>
							</div>

                            <div class="review-block-title">
                                <img src="{% static 'info/reviews/green.png' %}" style="position: absolute; left: 3px;">Достоинства
                            </div>
                            <div class="review-block-description">{{ rev.merits|safe }}</div>&nbsp;

                            <div class="review-block-title">Недостатки
                                <img src="{% static 'info/reviews/read.png' %}" style="position: absolute; left: 3px;">
                            </div>
                            <div class="review-block-description">{{ rev.limitations|safe }}</div>&nbsp;

                            <div class="review-block-title">Комментарий
                                <img src="{% static 'info/reviews/comment.png' %}" style="position: absolute; left: 3px;">
                            </div>
                            <div class="review-block-description">{{ rev.comment|safe }}</div>
                            &nbsp;<br>
                            {% if rev.image %}
                            <div class="review-block-description">
                                <a href="#" data-toggle="modal" data-target=".dialog{{ forloop.counter }}">
                                    <img id="blah" src="{{ rev.image.url }}" width="250" class="img-responsive img-rounded" alt="your image" />
                                </a>
                                <!--  Modal content for Image -->
                                <div class="modal fade dialog{{ forloop.counter }}" tabindex="-1">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                                <h4 class="modal-title" id="myLargeModalLabel-1">...</h4>
                                            </div>
                                            <div class="modal-body active">
                                                <img src="{{ rev.image.url }}" class="img-responsive img-rounded center-block" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                {% else %}
                                <img src="{% static 'info/reviews/150.png' %}" alt="no foto" title="no image">
                            {% endif %}
                            <br><br>
                            {% if rev.video %}
                            <div class="review-block-description">
                                <iframe width="100%" height="250px" src="{{ rev.video }}" frameborder="0" allowfullscreen></iframe>
                            </div>
                                {% else %}
                            {% endif %}
                            <br>
                            <div class="row">
                              <div class="col-sm-6 col-md-8">
                                {% if request.user.is_authenticated %}
                                    {% if rev.user == request.user %}
                                      <div class="pull-left">
                                            <a href="{% url 'reviews:edit_review' pk=rev.pk %}" title="Edit" style="margin-right: 5px;">
                                                <button type="button" class="btn btn-warning btn-xs label">Изменить</button>
                                            </a>

                                            <a href="{% url 'reviews:delete_review' pk=rev.pk %}" id="review_delete" title="Delete">
                                                <button type="button" class="btn btn-danger btn-xs label">Удалить</button>
                                            </a>
                                      </div>
                                    {% endif %}
                                {% endif %}
                              </div>
                              <div class="col-xs-6 col-md-4 pull-right">

                                  <div class="pull-right">

                                    <span data-toggle="tooltip" data-original-title="Vote Up" class="show-tooltip" onclick="like_review(this)" data-review-id="{{ rev.id }}">
                                        <i class="glyphicon glyphicon-thumbs-up"></i>
                                    </span>

                                    <span class="label label-success">{{ rev.user_like.count }}</span>

                                    <span style="padding-left: 10px;" data-toggle="tooltip" data-original-title="Vote Down" class="show-tooltip" onclick="dislike_review(this)" data-review-id="{{ rev.id }}">
                                        <i class="glyphicon glyphicon-thumbs-down"></i>
                                    </span>

                                    <span class="label label-danger" style="margin-right: 10px;">{{ rev.user_dislike.count }}</span>

                                  </div>

                              </div>
                            </div>
                          </div>
						</div>
					</div>
					<hr/>
				</div>
                {% endfor %}
			</div>
		</div>

        <!-- Пагинация отзывов -->
        <div class="pagination-area">
            <div class="row">
                <div class="col-xs-5">
                    <div class="pagination">
                        <ul>
                            {% bootstrap_pagination reviews pages_to_show=3 %}
                        </ul>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="product-result">
                        <span>Показано с 1 по {{ reviews.number }} из ({{ reviews.paginator.num_pages }} Страниц)</span>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- /container -->





