{% load staticfiles %}


<!-- Кнопка раскрывает скрытый блок -->
<div class="container-fluid">
    <button type="button" class="btn btn-info" onclick="openForm()">Add Review</button>
</div>
<br>

<!-- Скрытый блок в котором выводиться форма отзыва-->
<div class="reviews" style="display: none;">

    {% include 'review/add_form.html' %}

{#    <div class="container-fluid">#}
{#        <button class="btn btn-danger btn-sm" onclick="closeForm()">close</button>#}
{#    </div>#}
</div>
<br>


    <div class="container">

		<div class="row">
			<div class="col-sm-3">
				<div class="rating-block">
					<h4>Average user rating</h4>
					<h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
				</div>
			</div>
			<div class="col-sm-3">
				<h4>Rating breakdown</h4>
				<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px;">1</div>
				</div>
				<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px;">1</div>
				</div>
				<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px;">0</div>
				</div>
				<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px;">0</div>
				</div>
				<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px;">0</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-7">
				<hr/>
				<div class="review-block">
					<div class="row">
						<div class="col-sm-3">
							<img src="{% static 'info/reviews/User_48x48.png' %}" class="img-rounded">
							<div class="review-block-name"><a href="#">nktailor</a></div>
							<div class="review-block-date">January 29, 2016<br/>1 day ago</div><br>
							<div class="review-block-date">Срок использования:<br/>1 мес</div>
						</div>
						<div class="col-sm-9">
							<div class="review-block-rate">
								<button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
							</div>

                            <div class="review-block-title">
                                <img src="{% static 'info/reviews/green.png' %}" style="position: absolute; left: -5px;">Достоинства
                            </div>
                            <div class="review-block-description">{% lorem %}</div>&nbsp;

                            <div class="review-block-title">Недостатки
                                <img src="{% static 'info/reviews/read.png' %}" style="position: absolute; left: -5px;">
                            </div>
                            <div class="review-block-description">{% lorem %}</div>&nbsp;

                            <div class="review-block-title">Комментарий
                                <img src="{% static 'info/reviews/comment.png' %}" style="position: absolute; left: -5px;">
                            </div>
                            <div class="review-block-description">{% lorem %}</div>&nbsp;

                            <div class="review-block-description">
                                <img id="blah" src="{% static 'info/reviews/150.png' %}" alt="your image" />
                            </div>
                            <br>
                            <div class="review-block-description">
                                <iframe width="100%" height="250px" src="https://www.youtube.com/embed/AIfnRILh1V4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <br>
                            <div class="row">
                              <div class="col-sm-6 col-md-8">

                                  <div class="pull-left">
                                        <a href="#" title="Edit" style="margin-right: 5px;">
                                            <button type="button" class="btn btn-warning btn-xs label">Edit</button>
                                        </a>

                                        <a href="#" id="delete" title="Delete">
                                            <button type="button" class="btn btn-danger btn-xs label">Delete</button>
                                        </a>
                                  </div>

                              </div>
                              <div class="col-xs-6 col-md-4 pull-right">

                                  <div class="pull-right">
                                      <span data-toggle="tooltip" data-original-title="Vote Up" class="show-tooltip"><i
                                              class="glyphicon glyphicon-thumbs-up"></i></span>
                                      <span class="label label-success">0</span>

                                      <span style="padding-left: 10px;" data-toggle="tooltip"
                                            data-original-title="Vote Down" class="show-tooltip"><i
                                              class="glyphicon glyphicon-thumbs-down"></i></span>
                                      <span class="label label-danger">0</span>
                                  </div>

                              </div>
                            </div>

						</div>
					</div>
					<hr/>

				</div>
			</div>
		</div>

    </div> <!-- /container -->



