{% extends "admin/change_form.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n admin_urls static admin_modify %}

{% block after_field_sets %}
<fieldset class="module">
  <h2>Товары в заказе</h2>

  {% for cart_product in cart_product_qs %}
  <table>
     <thead><tr>
       <th class="original"></th>
       <th class="required">Артикул</th>
       <th>Наименование товара</th>
       <th>Изображение</th>
       <th>Количество</th>
       <th>Цена</th>
       <th>Скидка</th>
     </tr></thead>
     <tbody>
      <tr class="form-row row1 has_original dynamic-block_positions" id="block_positions-0">
        <td class="original"></td>
        <td class="field">{{ cart_product.product.vendor_code }}</td>
        <td class="field"><a href="{{ cart_product.product.get_absolute_url }}" target="_blank" title="Просмотреть">{{ cart_product.product.title|truncatechars:21 }}</a></td>
        <td class="field"><img src="{{ cart_product.product.images|thumbnail_url:'cart' }}"></td>
        <td class="field">{{ cart_product.quantity }}</td>
        <td class="field">{{ cart_product.product.price }}</td>
        <td class="field">{{ cart_product.product.discount }} %</td>
      </tr>
     </tbody>
   </table>
  {% endfor %}
</fieldset>
{% endblock %}