{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load banner %}

{% block title %}
    Orders
{% endblock %}

{% block content %}
		<!-- START PAGE-CONTENT -->
		<section class="page-content">
			<div class="container">
	            <div class="row">
					<div class="col-md-12">
						<ul class="page-menu">
							<li><a href="/">Home</a></li>
							<li class="active"><a href="{% url 'order:create_orders' %}">Create order</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						{% include 'shop/menu-category.html' %} <!-- Подгружаем код из шаблона shop/menu-category.html -->
					</div>
					<div class="col-md-9">
						<!-- START PRODUCT-BANNER -->
						<div class="product-banner">
							<div class="row">
                                {% center_big_banner %} <!-- Большой баннер 870×216 -->
							</div>
						</div>
						<!-- END PRODUCT-BANNER -->

						<div class="Wishlist-area">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel_default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-trigger" data-toggle="collapse" data-parent="#accordion" href="#checkout-confirm">Create Order <i class="fa fa-caret-down"></i> </a>
                                        </h4>
                                    </div>
                                    <div id="checkout-confirm" class="collapse in">
                                        <div class="panel-body">

                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover bmw">
                                                    <thead>
                                                        <tr>
                                                            <td class="text-center">Images</td>
                                                            <td class="text-left">Product Name</td>
                                                            <td class="text-center">Quantity</td>
                                                            <td class="text-right">Unit Price</td>
                                                            <td class="text-right">Total</td>
                                                        </tr>
                                                    </thead>
                                                    {% for item in request.cart.cartproduct_set.all %}
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center">
                                                                <img class="img-thumbnail" src="{{ item.product.images|thumbnail_url:'cart' }}" alt="{{ item.product.title }}" />
                                                            </td>
                                                            <td class="text-left">{{ item.product.title }}<br><br><small>Vendor code: <span class="text-stock">{{ item.product.vendor_code }}</span></small></td>
                                                            <td class="text-center">{{ item.quantity }}</td>
                                                            <td class="text-right">&#8381; {{ item.product.price }}</td>
                                                            <td class="text-right">&#8381; {{ item.discount_price }}</td>
                                                        </tr>
                                                    </tbody>
                                                    {% endfor %}
                                                    <tfoot>
                                                        <tr>
                                                            <td class="text-right" colspan="4">
                                                                <strong>Total:</strong>
                                                            </td>
                                                            <td class="text-right"><strong>&#8381; {{ request.cart.discount_price }}</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right" colspan="4">
                                                                <strong>Total amount:</strong>
                                                            </td>
                                                            <td class="text-right">{{ request.cart.count_products }} шт.</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>

                                            <h2>Create order</h2>
                                                <form action="{% url 'order:create_orders' %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="col-sm-13">
{#                                                    {% bootstrap_form form layout='inline' %}#}
                                                        {% if not request.user.is_authenticated %}
                                                            {% bootstrap_field form.full_name show_label=False %}
                                                            {% bootstrap_field form.phone show_label=False %}
                                                            {% bootstrap_field form.email show_label=False %}
                                                        {% endif %}
                                                        {% bootstrap_field form.buying_type show_label=False %}
                                                        {% bootstrap_field form.address show_label=False %}
                                                        {% bootstrap_field form.delivery_date show_label=False %}
                                                        {% bootstrap_field form.comment show_label=False %}
                                                    <input type="submit" class="btn btn-primary pull-right" value="Create">
                                                    </div>
                                                </form>

                                            <script src="{% static 'shop/js/jquery-1.11.3.min.js' %}"></script>
                                            <!-- Скрипт скрывающие поле "адрес" в форме -->
                                            <script>
                                                $(document).ready(function(){
                                                    $('#id_address').css('display', 'none')
                                                    $('.help-block').css('display', 'none')
                                                    $('#id_delivery_date_day').css('display', 'none')
                                                    $('#id_delivery_date_month').css('display', 'none')
                                                    $('#id_delivery_date_year').css('display', 'none')
                                                    $('#id_buying_type').on('click', function(){
                                                        buying_type = $(this).val()
                                                        if(buying_type == 'delivery'){
                                                            $('#id_address').css('display', 'block')
                                                            $('.help-block').css('display', 'block')
                                                            $('#id_delivery_date_day').css('display', 'block')
                                                            $('#id_delivery_date_month').css('display', 'block')
                                                            $('#id_delivery_date_year').css('display', 'block')
                                                        }else{
                                                            $('#id_address').css('display', 'none')
                                                            $('.help-block').css('display', 'none')
                                                            $('#id_delivery_date_day').css('display', 'none')
                                                            $('#id_delivery_date_month').css('display', 'none')
                                                            $('#id_delivery_date_year').css('display', 'none')
                                                        }
                                                    })
                                                })
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
        </section>
{% endblock content %}