{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


<div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">{% trans "Password Reset" %}</div>

                    </div>

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                        <form id="loginform" class="form-horizontal password_reset" role="form" method="POST" action="{% url 'account_reset_password' %}" >
                            {% csrf_token %}
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="id_email" type="email" class="form-control" name="email" value="" placeholder="Your email">
                                    </div>



                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls" style="weidth:500;">
                                        <input type="submit" class="btn btn-success col-sm-12 " value="{% trans 'Reset My Password' %}" />
                                    </div>
                                </div>


                                 <div class="input-group col-md-12">

                                    <div style="margin-bottom: 25px" class="input-group col-sm-12">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                                        </div>
                                    </div>


                                </div>



                            </form>



                        </div>
                    </div>
        </div>

</div>



{% endblock %}
