{% extends "account/base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans "Change Password" %}</h1>
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>

    <div class="container">
        <h3>Автоматический переход на главную страницу через <span id="id_seconds" style="color: red;"></span> секунд.</h3>
    </div>
        <script type="text/javascript">

            /*Изменить текущий адрес страницы через 3 секунды (3000 миллисекунд)*/
            change_seconds = (seconds) => {
              document.getElementById('id_seconds').innerText = seconds;
            };

            redirect_timer = () => {
                let seconds = 10;
                change_seconds(seconds);
                let interval = setInterval(
                    () => {
                        seconds--;
                        change_seconds(seconds);
                        if (seconds <= 0) {
                            clearInterval(interval);
                            location.replace("/")
                        }
                    }, 1000);
            };

            redirect_timer();

        </script>


{% endblock %}
