{% extends "account/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
    <!-- Стили для фокуса в placeholder-->
    <style>
        :focus::-webkit-input-placeholder {color: transparent}
        :focus::-moz-placeholder          {color: transparent}
        :focus:-moz-placeholder           {color: transparent}
        :focus:-ms-input-placeholder      {color: transparent}
    </style>

<div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">{% trans "Sign Up" %}</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#"></a></div>
                    </div>

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                        <form id="loginform" class="form-horizontal" role="form" method="post" action="{% url 'account_signup' %}" >
                            {% csrf_token %}

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <p>Логин <sup>*</sup></p>
                                            <!-- Вывод ошибок о неверно заполненом поле -->
                                            {{ form.non_field_errors }}
                                            <div class="fieldWrapper">
                                                {% if form.username.errors %}
                                                    <div class="alert alert-warning">{{ form.username.errors }}</div>
                                                {% endif %}
                                                    <div style="margin-bottom: 25px" class="input-group">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                        <input value="{{ form.username.value|default:'' }}" type="text" name="username" id="id_username" class="form-control input-lg" placeholder="Login*" tabindex="1" required>
                                                    </div>
                                            </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <p>Имя <sup></sup></p>
                                        <div style="margin-bottom: 25px" class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input type="text" name="first_name" value="{{ form.first_name.value|default:'' }}" id="id_firstname" class="form-control input-lg" placeholder="First Name" tabindex="1">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <p>Фамилия <sup></sup></p>
                                        <div style="margin-bottom: 25px" class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input type="text" name="last_name" value="{{ form.last_name.value|default:'' }}" id="id_lastname" class="form-control input-lg" placeholder="Last Name" tabindex="2">
                                        </div>
                                    </div>
                                </div>


{#                                <p>phone </p>#}
{#                                    <!-- Вывод ошибок о неверно заполненом поле -->#}
{#                                    <div class="fieldWrapper">#}
{#                                        {% if form.phone.errors %}#}
{#                                            <div class="alert alert-warning">{{ form.phone.errors }}</div>#}
{#                                        {% endif %}#}
{#                                        <div style="margin-bottom: 25px" class="input-group">#}
{#                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>#}
{#                                                    <input value="{{ form.phone.value|default:'' }}" id="id_phone" type="phone" class="form-control" name="phone" value="" placeholder="phone" required>#}
{#                                        </div>#}
{#                                    </div>#}

                                <p>e-mail <sup>*</sup></p>
                                    <!-- Вывод ошибок о неверно заполненом поле -->
                                    <div class="fieldWrapper">
                                        {% if form.email.errors %}
                                            <div class="alert alert-warning">{{ form.email.errors }}</div>
                                        {% endif %}
                                        <div style="margin-bottom: 25px" class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                    <input value="{{ form.email.value|default:'' }}" id="id_email" type="email" class="form-control" name="email" value="" placeholder="e-mail*" required>
                                        </div>
                                    </div>

                                <p>Пароль не менее 8 символов <sup>*</sup></p>
                                    <!-- Вывод ошибок о неверно заполненом поле -->
                                    <div class="fieldWrapper">
                                        {% if form.password1.errors %}
                                            <div class="alert alert-warning">{{ form.password1.errors }}</div>
                                        {% endif %}
                                        <div style="margin-bottom: 25px" class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                    <input id="id-password1" type="password" class="form-control" name="password1" placeholder="password*" required>
                                        </div>

                                    </div>

                                <p>Подтверждение пароля <sup>*</sup></p>
                                    <!-- Вывод ошибок о неверно заполненом поле -->
                                    <div class="fieldWrapper">
                                        {% if form.password2.errors %}
                                            <div class="alert alert-warning">{{ form.password2.errors }}</div>
                                        {% endif %}
                                        <div style="margin-bottom: 25px" class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                    <input id="id-password2" type="password" class="form-control" name="password2" placeholder="password2*" required>
                                        </div>
                                    </div>

                                <p>Проверочный код <sup>*</sup></p>
                                <div class="input-group">
                                    {{ form.captcha }}
                                    <button class='captcha-refresh'>
                                        <img src="{% static 'info/news/icon/reload.png' %}" alt="reload">
                                    </button>
                                </div>
                                <br>
                                <!-- Вывод сообщения о неверно введенной капчи  -->
                                {% if form.captcha.errors %}
                                    <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                        <strong>{{ form.captcha.errors }}</strong>
                                    </div>
                                {% endif %}


                                    <div class="pull-left">
                                        <input name="agree" type="checkbox" id="form"><!-- Скрипт чекбокса в contacts_scripts.js -->

                                        <p style="padding-top:15px; font-size:85%; display: contents;"><!-- Модальное окно в шаблоне modal_privacy_policy.html -->
                                            Нажимая на кнопку «Регистрация» я подтверждаю, что даю разрешение на <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">обработку своих персональных данных</a>.
                                        </p>
                                        <div style="margin-top:10px" class="form-group">
                                            <!-- Button -->

                                            <div class="col-sm-12 controls">
                                              <button class="btn btn-success" type="submit" value="submit" name="submit" disabled="">{% trans "Sign Up" %}  </button>
                                            </div>
                                        </div>

                                    </div>


                                      {% if redirect_field_value %}
                                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                      {% endif %}


                        </form>

                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            <p>Поля отмеченные <sup>*</sup> обязательны к заполнению!
                                            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
        </div>
</div>



{% endblock %}
