{% extends 'newsletter/control_panel/control_base.html' %}
{% load bootstrap3 %}

{% block content %}


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <div class="col-sm-2">
                <a href="{% url 'control_newsletter' %}"><button type="button" class="btn-success">New Newsletter</button></a>
            </div>
        </div>
        {% if newsletters %}
        <div class="table-responsive table-hover">
            <table class="table">
                <thead>
                    <th>id</th>
                    <th>Subject</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                {% for item in newsletters %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td><a href="{% url 'control_newsletter_detail' pk=item.pk %}">{{ item.subject }}</a></td>
                        <td>{{ item.get_status_display }}</td>
                        <td>{{ item.created }}</td>
                        <td>{{ item.updated }}</td>
                        <td><a href="{% url 'control_newsletter_edit' pk=item.pk %}"><button class="btn btn-warning">Edit</button></a></td>
                        <td><a href="{% url 'control_newsletter_delete' pk=item.pk %}"><button class="btn btn-danger">Delete</button></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
            {% else %}
            <h2>У вас пока нет рассылок.</h2>
        {% endif %}
            <!-- Пагинация -->
        <div class="pagination-area">
            <div class="row">
                <div class="col-xs-5">
                    <div class="pagination">
                        <ul>
                            {% bootstrap_pagination newsletters pages_to_show=3 %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}