{% extends 'newsletter/control_panel/control_base.html' %}
{% load bootstrap3 %}


{% block content %}

<!-- Модальное окно в котором выводится код шаблона с товаром для вставки в поле "Содержимое" -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalTemplatePreview">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <textarea id="id_template_preview" style="height: 500px; width: 100%"></textarea>
      </div>
    </div>
  </div>
</div>


<div class="container">

    <h1 class="page-header">Add Newsletter</h1>

    <form name="select_all" method="post" enctype="multipart/form-data">
        {% csrf_token %}

{#        {% bootstrap_form form %}#}

        <div class="form-group">
            <label for="exampleInputEmail1">Заголовок *</label>
            {{ form.subject }}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Содержимое *</label>
            <!-- Кнопка вызова модального окна с товарным шаблоном -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTemplatePreview">Get template</button>
            {{ form.body }}
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

{#        <div class="form-group">#}
{#            <label for="exampleInputEmail1">Email recipients *</label>#}
{#            <ul style="list-style: none; margin-left: -40px;">#}
{#                {{ form.users_email|unordered_list }}#}
{#            </ul>#}
{#        </div>#}

        <div class="form-group">
            <label for="exampleInputEmail1">Email recipients *</label>
            <div class="row">
                {% for user_email in form.users_email %}
                    <div class="col-sm-3">{{ user_email }}</div>
                {% endfor %}
            </div>
        </div>

        <input type="button" value="Выделить все" onclick="check(this.form.users_email,1)">
        <input type="button" value="Снять выделение" onclick="check(this.form.users_email,0)">
        <br><br><br>

        <div class="form-group">
            <label for="exampleInputFile">Файл</label>
            {{ form.file }}
            <p class="help-block">Example block-level help text here.</p>
        </div>
        <br>
        <div class="form-group">
            <label for="exampleInputPassword1">Статус *</label>
            {{ form.status }}
        </div>
        <br>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
<br>
    <!-- Выделить/Снять выделение чекбоксов -->
    <script type="text/javascript">
        function check(field, flag) {
            if (flag == "1") {
                for (i = 0; i < field.length; i++) {
                    field[i].checked = true;
                }
            } else {
                for (i = 0; i < field.length; i++) {
                    field[i].checked = false;
                }
            }
        }
    </script>

    <hr>

    <div class="container pull-left">
        <div class='row'>
            <div class='col-md-12'>
            {% if templates %}
                <div class="panel-group" id="accordion">
                    {% for tpl in templates %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ tpl.id }}">
                                        {{ tpl.name }}
                                    </a>
                                </h4>
                            </div>
                            <div id="{{ tpl.id }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <textarea rows="30" cols="135" name="text">{{ tpl.text }}</textarea>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
                {% else %}
                <p>Вы пока не добавили ни одного шаблона!</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Скрипт расширяющий базовый шаблон control_base.html -->
    {% block extra_js %}
        {{ block.super }}
        <script>
            $(document).ready(function () {
              $('#modalTemplatePreview').on('show.bs.modal', function (event) {
                $.ajax({
                    url: '/newsletter/dashboard/templates/',
                  }).done(function (data) {
                    $('#modalTemplatePreview #id_template_preview').val(data);
                  });
              });
            })
        </script>

    {% endblock %}

{% endblock %}