{% extends 'newsletter/control_panel/control_base.html' %}
{% load bootstrap3 %}



{% block content %}


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="width: 100%; margin-left: -1%;">
        <div class="page-header">
            <h1 style="margin-left: 25%;">{{ newsletter.subject }}</h1>
        </div>
        {{ newsletter.body|safe }}
        <br>
        <div class="col-sm-8 col-sm-offset-4">
            <div class="col-sm-2"><a href="{% url 'newsletter:control_newsletter_edit' pk=newsletter.pk %}"><button class="btn btn-warning">Изменить</button></a></div>
            <div class="col-sm-2"><a href="{% url 'newsletter:control_newsletter_delete' pk=newsletter.pk %}"><button class="btn btn-danger">Удалить</button></a></div>
            <div class="col-sm-2"><a href="{% url 'newsletter:control_newsletter' %}"><button class="btn btn-success">Новая рассылка</button></a></div>
        </div>
    </div>



{% endblock %}