{% load staticfiles %}
{% load mptt_tags %}
{% load i18n mptt_tags %}
{% load thumbnail %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Tehnopoint - Компьютерные комплектующие | {% block title %}{% endblock %}</title>
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- favicon
		============================================ -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'shop/img/favicon.ico' %}">

		<!-- Google Fonts
		============================================ -->
       <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
       <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

		<!-- Bootstrap CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}">
		<!-- Font awesome CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'shop/css/font-awesome.min.css' %}">
		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'shop/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'shop/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'shop/css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'shop/css/owl.transitions.css' %}">
		<!-- nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="{% static 'shop/css/nivo-slider.css' %}" type="text/css" />
		<!-- meanmenu CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'shop/css/meanmenu.min.css' %}" type="text/css" />
		<!-- jquery-ui CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'shop/css/jquery-ui.css' %}" type="text/css" />
		<!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'shop/css/animate.css' %}" type="text/css" />
		<!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'shop/css/main.css' %}" type="text/css" />
		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'shop/css/style.css' %}" type="text/css" />
		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'shop/css/responsive.css' %}" type="text/css" />
        <!--
        ============================================ -->


    </head>
    <body>

		<!-- HEADER-AREA START -->
		<header class="header-area">
			<!-- HEADER-TOP START -->
			<div class="header-top hidden-xs">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="top-menu">
								<!-- Start Language -->
								<ul class="language">
									<li><a href="#"><img class="right-5" src="{% static 'shop/img/flags/gb.png' %}" alt="#">English<i class="fa fa-caret-down left-5"></i></a>
										<ul>
											<li><a href="#"><img class="right-5" src="{% static 'shop/img/flags/fr.png' %}" alt="#">French</a></li>
											<li><a href="#"><img class="right-5" src="{% static 'shop/img/flags/gb.png' %}" alt="#">English</a></li>
											<li><a href="#"><img class="right-5" src="{% static 'shop/img/flags/gb.png' %}" alt="#">English</a></li>
										</ul>
									</li>
								</ul>
								<!-- End Language -->
								<!-- Start Currency -->
								<ul class="currency">
									<li><a href="#"><strong>$</strong> USD<i class="fa fa-caret-down left-5"></i></a>
										<ul>
											<li><a href="#">$ EUR</a></li>
											<li><a href="#">$ GBP</a></li>
											<li><a href="#">$ USD</a></li>
										</ul>
									</li>
								</ul>
								<!-- End Currency -->
								<p class="welcome-msg">Default welcome msg!</p>
							</div>
							<!-- Start Top-Link -->
							<div class="top-link">
								<ul class="link">
									<li><a href="my-account.html"><i class="fa fa-user"></i> My Account</a></li>
									<li><a href="wishlist.html"><i class="fa fa-heart"></i> Wish List (0)</a></li>
									<li><a href="../../../cart/templates/cart/checkout.html"><i class="fa fa-share"></i> Checkout</a></li>
									<li><a href="registration-account.html"><i class="fa fa-unlock-alt"></i> Login</a></li>
								</ul>
							</div>
							<!-- End Top-Link -->
						</div>
					</div>
				</div>
			</div>
			<!-- HEADER-TOP END -->
			<!-- HEADER-MIDDLE START -->
			<div class="header-middle">
				<div class="container">
					<!-- Start Support-Client -->
					<div class="support-client hidden-xs">
						<div class="row">
							<!-- Start Single-Support -->
							<div class="col-md-3 hidden-sm">
								<div class="single-support">
									<div class="support-content">
										<i class="fa fa-clock-o"></i>
										<div class="support-text">
											<h1 class="zero gfont-1" style="font-family: 'Roboto', sans-serif;">working time</h1>
											<p>Mon- Sun: 8.00 - 18.00</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End Single-Support -->
							<!-- Start Single-Support -->
							<div class="col-md-3 col-sm-4">
								<div class="single-support">
									<i class="fa fa-truck"></i>
									<div class="support-text">
										<h1 class="zero gfont-1" style="font-family: 'Roboto', sans-serif;">Free shipping</h1>
										<p>On order over $199</p>
									</div>
								</div>
							</div>
							<!-- End Single-Support -->
							<!-- Start Single-Support -->
							<div class="col-md-3 col-sm-4">
								<div class="single-support">
									<i class="fa fa-money"></i>
									<div class="support-text">
										<h1 class="zero gfont-1" style="font-family: 'Roboto', sans-serif;">Money back 100%</h1>
										<p>Within 30 Days after delivery</p>
									</div>
								</div>
							</div>
							<!-- End Single-Support -->
							<!-- Start Single-Support -->
							<div class="col-md-3 col-sm-4">
								<div class="single-support">
									<i class="fa fa-phone-square"></i>
									<div class="support-text">
										<h1 class="zero gfont-1" style="font-family: 'Roboto', sans-serif;">Phone: 0501508541</h1>
										<p>Order Online Now ! !</p>
									</div>
								</div>
							</div>
							<!-- End Single-Support -->
						</div>
					</div>
					<!-- End Support-Client -->
					<!-- Start logo & Search Box -->
					<div class="row">
						<div class="col-md-3 col-sm-12">
							<div class="logo">
								<a href="index.html" title="Malias"><img src="{% static 'shop/img/logo.png' %}" alt="Malias"></a>
							</div>
						</div>
						<div class="col-md-9 col-sm-12">
		                    <div class="quick-access">
		                    	<div class="search-by-category">
		                    		<div class="search-container">
			                    		<select onChange="if(this.selectedIndex!=0) self.location=this.options[this.selectedIndex].value">
			                    			<option class="all-cate">All Categories</option>
                                        {% recursetree nodes %}
											<optgroup  class="cate-item-head" label="{{ node.name }}">
                                            {% for child in node.children.all %}
                                                <option class="cate-item-title" value="{% url 'shop:catlist' child.slug %}">
                                                    {{ child.name }}
                                                </option>
                                            {% endfor %}
											</optgroup>
                                        {% endrecursetree %}
			                    		</select>
		                    		</div>
		                    		<div class="header-search">
		                    			<form action="#">
			                    			<input type="text" placeholder="Search">
			                    			<button type="submit"><i class="fa fa-search"></i></button>
		                    			</form>
		                    		</div>
		                    	</div>
		                    	<div class="top-cart" id="cart-info"></div>
		                    </div>
		                </div>
					</div>
					<!-- End logo & Search Box -->
				</div>
			</div>
			<!-- HEADER-MIDDLE END -->

			<!-- START MAINMENU-AREA -->
			<div class="mainmenu-area">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="mainmenu hidden-sm hidden-xs">
								<nav>
									<ul>
										<li><a href="/">Home</a>
{#											<ul>#}
{#												<li><a href="index.html">Home Versions 1</a></li>#}
{#												<li><a href="index-2.html">Home Versions 2</a></li>#}
{#											</ul>#}
										</li>
										<li><a href="about.html">About Us</a></li>
										<li class="hot"><a href="shop.html">Bestseller Products</a></li>
										<li class="new"><a href="shop-list.html">New Products</a></li>
										<li><a href="shop.html">Special Products</a></li>
										<li><a href="#">Pages</a>
											<ul>
												<li><a href="cart.html">Cart</a></li>
												<li><a href="../../../cart/templates/cart/checkout.html">Checkout</a></li>
												<li><a href="registration-account.html">Create Account</a></li>
												<li><a href="my-account.html">My Account</a></li>
												<li><a href="product-details.html">Product details</a></li>
												<li><a href="shop.html">Shop Grid View</a></li>
												<li><a href="shop-list.html">Shop List View</a></li>
												<li><a href="wishlist.html">Wish List</a></li>
											</ul>
										</li>
										<li><a href="contact.html">Contact Us</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN-MENU-AREA -->
			<!-- Start Mobile-menu -->
			<div class="mobile-menu-area hidden-md hidden-lg">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<nav id="mobile-menu">
								<ul>
									<li><a href="/">Home</a></li>
                                {% recursetree nodes %}
									<li><a href="#">{{ node.name }}</a>
										<ul>
                                            {% for child in node.children.all %}
											<li><a href="{% url 'shop:catlist' child.slug %}">{{ child.name }}</a></li>
                                            {% endfor %}
										</ul>
									</li>
                                {% endrecursetree %}
									<li><a href="contact.html">Contact Us</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- End Mobile-menu -->
		</header>
		<!-- HEADER AREA END -->
		{% block content %}{% endblock %}
			<!-- START BRAND-LOGO-AREA -->
			<div class="brand-logo-area carosel-navigation">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="area-title">
								<h3 class="title-group border-red gfont-1">Brand Logo</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="active-brand-logo">
                            {% for brand in brends %}
                                {% if brand.image %}
							<div class="col-md-2">
								<div class="single-brand-logo"> <!-- style="width: 200px; height: 82px" -->
									<a href="#"><img src="{{ brand.image|thumbnail_url:'brandlogo' }}" alt=""></a>
								</div>
							</div>
                                {% endif %}
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- END BRAND-LOGO-AREA -->
			<!-- START SUBSCRIBE-AREA -->
			<div class="subscribe-area">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-7 col-xs-12">
							<label class="hidden-sm hidden-xs">Sign Up for Our Newsletter:</label>
							<div class="subscribe">
								<form action="#">
									<input type="text" placeholder="Ваш E-mail">
									<button type="submit">Subscribe</button>
								</form>
							</div>
						</div>
						<div class="col-md-4 col-sm-5 col-xs-12">
							<div class="social-media">
								<a href="#"><i class="fa fa-facebook fb"></i></a>
								<a href="#"><i class="fa fa-google-plus gp"></i></a>
								<a href="#"><i class="fa fa-twitter tt"></i></a>
								<a href="#"><i class="fa fa-youtube yt"></i></a>
								<a href="#"><i class="fa fa-linkedin li"></i></a>
								<a href="#"><i class="fa fa-rss rs"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END SUBSCRIBE-AREA -->
{#		</section>#}
		<!-- END HOME-PAGE-CONTENT -->
		<!-- FOOTER-AREA START -->
		<footer class="footer-area">
			<!-- Footer Start -->
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3">
							<div class="footer-title">
								<h5>My Account</h5>
							</div>
							<nav>
								<ul class="footer-content">
									<li><a href="my-account.html">My Account</a></li>
									<li><a href="#">Order History</a></li>
									<li><a href="wishlist">Wish List</a></li>
									<li><a href="#">Search Terms</a></li>
									<li><a href="#">Returns</a></li>
								</ul>
							</nav>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-3">
							<div class="footer-title">
								<h5>Customer Service</h5>
							</div>
							<nav>
								<ul class="footer-content">
									<li><a href="contact.html">Contact Us</a></li>
									<li><a href="about.html">About Us</a></li>
									<li><a href="#">Delivery Information</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Terms & Conditions</a></li>
								</ul>
							</nav>
						</div>
						<div class="col-xs-12 hidden-sm col-md-3">
							<div class="footer-title">
								<h5>Payment & Shipping</h5>
							</div>
							<nav>
								<ul class="footer-content">
									<li><a href="#">Brands</a></li>
									<li><a href="#">Gift Vouchers</a></li>
									<li><a href="#">Affiliates</a></li>
									<li><a href="shop-list.html">Specials</a></li>
									<li><a href="#">Search Terms</a></li>
								</ul>
							</nav>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-3">
							<div class="footer-title">
								<h5>Payment & Shipping</h5>
							</div>
							<nav>
								<ul class="footer-content box-information">
									<li>
										<i class="fa fa-home"></i><span>Towerthemes, 1234 Stret Lorem, LPA States, Libero</span>
									</li>
									<li>
										<i class="fa fa-envelope-o"></i><p><a href="contact.html">admin@bootexperts.com</a></p>
									</li>
									<li>
										<i class="fa fa-phone"></i>
										<span>01234-56789</span> <br> <span> 01234-56789</span>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer End -->
			<!-- Copyright-area Start -->
			<div class="copyright-area">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="copyright">
								<p>Copyright &copy; Взято с <a href="http://bayguzin.ru" target="_blank"> bayguzin.ru</a> All rights reserved.</p>
								<div class="payment">
									<a href="#"><img src="{% static 'shop/img/payment.png' %}" alt="Payment"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Copyright-area End -->
		</footer>
		<!-- FOOTER-AREA END -->
		<!-- QUICKVIEW PRODUCT -->
		<div id="quickview-wrapper">
		   <!-- Modal -->
		   <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
			    <div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							<div class="modal-product">
								<div class="product-images">
									<div class="main-image images">
										<img alt="#" src="{% static 'shop/img/product/quickview-photo.jpg' %}"/>
									</div>
								</div><!-- .product-images -->
								<div class="product-info">
									<h1>Title</h1>
									<div class="price-box-3">
										<hr />
										<div class="s-price-box">
											<span class="new-price">$180.00</span>
											<span class="old-price">$200.00</span>
										</div>
										<hr />
									</div>
									<a href="shop.html" class="see-all">See all features</a>
									<div class="quick-add-to-cart">
										<form method="post" class="cart">
											<div class="numbers-row">
												<input type="number" id="french-hens" value="3">
											</div>
											<button class="single_add_to_cart_button" type="submit">Add to cart</button>
										</form>
									</div>
									<div class="quick-desc">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero.
									</div>
									<div class="social-sharing">
										<div class="widget widget_socialsharing_widget">
											<h3 class="widget-title-modal">Share this product</h3>
											<ul class="social-icons">
												<li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
												<li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
												<li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
												<li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
												<li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
											</ul>
										</div>
									</div>
								</div><!-- .product-info -->
							</div><!-- .modal-product -->
						</div><!-- .modal-body -->
					</div><!-- .modal-content -->
			    </div><!-- .modal-dialog -->
		   </div>
		   <!-- END Modal -->
		</div>
		<!-- END QUICKVIEW PRODUCT -->


		<!-- jquery
		============================================ -->
        <script src="{% static 'shop/js/jquery-1.11.3.min.js' %}"></script>
		<!-- bootstrap JS
		============================================ -->
        <script src="{% static 'shop/js/bootstrap.min.js' %}"></script>
		<!-- wow JS
		============================================ -->
        <script src="{% static 'shop/js/wow.min.js' %}"></script>
		<!-- meanmenu JS
		============================================ -->
        <script src="{% static 'shop/js/jquery.meanmenu.js' %}"></script>
		<!-- owl.carousel JS
		============================================ -->
        <script src="{% static 'shop/js/owl.carousel.min.js' %}"></script>
		<!-- scrollUp JS
		============================================ -->
        <script src="{% static 'shop/js/jquery.scrollUp.min.js' %}"></script>
        <!-- Cookie JS
		============================================ -->
        <script src="{% static 'shop/js/js.cookie.js' %}"></script>
        <!-- countdon.min JS
		============================================ -->
        <script src="{% static 'shop/js/countdon.min.js' %}"></script>
        <!-- jquery-price-slider js
		============================================ -->
        <script src="{% static 'shop/js/jquery-price-slider.js' %}"></script>
        <!-- Nivo slider js
		============================================ -->
		<script src="{% static 'shop/js/jquery.nivo.slider.js' %}" type="text/javascript"></script>
		<!-- plugins JS
		============================================ -->
        <script src="{% static 'shop/js/plugins.js' %}"></script>
		<!-- main JS
		============================================ -->
        <script src="{% static 'shop/js/main.js' %}"></script>
        <!-- main JS
        ============================================ -->
		<script src="{% static 'shop/js/imagezoom.js' %}"></script>
		<!-- plugins JS
		============================================ -->
        <script src="{% static 'shop/js/etimer.js' %}" type="text/javascript"></script>
        <!-- cart.js
        ============================================ -->
        <script src="{% static 'shop/js/cart.js' %}" type="text/javascript"></script>


    </body>
</html>
