{% load staticfiles %}
{% load mptt_tags %}
{% load i18n mptt_tags %}
{% load thumbnail %}


{#Этот шаблон обрабатывает функция bestseller() из модуля context_processors.py#}

<!-- START SMALL-PRODUCT-AREA -->
                        {% if bestseller_categories %}
						<div class="small-product-area carosel-navigation hidden-sm hidden-xs">
							<div class="row">
								<div class="col-md-12">
									<div class="area-title">
										<h3 class="title-group gfont-1" style="font-weight: inherit;">Бестселлеры</h3>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="active-bestseller sidebar">
                                    {% for category, product_one in bestseller_categories.items %}
									<div class="col-xs-12">
										<!-- Start Single-Product -->
                                        {% for best in product_one %}
										<div class="single-product">
											<div class="product-img" style="width: 100px; height: 100px" align="center">
												<a href="{{ best.get_absolute_url }}">
                                                    {% if best.images %}
													<img class="primary-img" src="{{ best.images|thumbnail_url:'bestsellers' }}" alt="{{ best.title }}" title="{{ best.title }}">
                                                    {% else %}
                                                        <img src="{% static 'shop/img/no-image-small.png' %}" style="padding: 5px;">
                                                    {% endif %}
												</a>
											</div>
											<div class="product-description">
												<h5><a href="{{ best.get_absolute_url }}">{{ best.title|truncatechars:15 }}</a></h5>
                                                {% if best.stock == 0 %}
                                                    <p>Out of stock</p>
                                                    {% else %}
                                                    {% if best.discount %}
                                                    <div class="price-box">
                                                        <span class="price">&#8381;{{ best.get_sale }}</span>
                                                        <span class="old-price">&#8381;{{ best.price }}</span>
                                                    </div>
                                                        {% else %}
                                                    <div class="price-box">
                                                        <span class="price">&#8381;{{ best.price }}</span>
                                                    </div>
                                                    {% endif %}
                                                {% endif %}
												<span class="rating">
                                                    <!--Вывод звезд рейтинга-->
                                                    {% for x in '12345' %}
                                                    <i class="fa fa-star{% if forloop.counter <= best.rating %}{% else %}-o{% endif %}" ></i>
                                                    {% endfor %}
												</span>
                                                <div class="col-lg-8 pull-right">
                                                    <span>Артикул: <span class="text-stock">{{ best.vendor_code }}</span></span>
                                                </div>
											</div>
										</div>
                                        {% endfor %}
										<!-- End Single-Product -->
									</div>
                                    {% endfor %}

                                    {% for category, product_two in bestseller_categories.items %}
									<div class="col-xs-12">
										<!-- Start Single-Product -->
                                        {% for best in product_two %}
										<div class="single-product">
											<div class="product-img" style="width: 100px; height: 100px" align="center">
												<a href="{{ best.get_absolute_url }}">
                                                    {% if best.images %}
													<img class="primary-img" src="{{ best.images|thumbnail_url:'bestsellers' }}" alt="{{ best.title }}" title="{{ best.title }}">
                                                    {% else %}
                                                        <img src="{% static 'shop/img/no-image-small.png' %}" style="padding: 5px;">
                                                    {% endif %}
												</a>
											</div>
											<div class="product-description">
												<h5><a href="{{ best.get_absolute_url }}">{{ best.title|truncatechars:15 }}</a></h5>
                                                {% if best.stock == 0 %}
                                                    <p>Out of stock</p>
                                                    {% else %}
                                                    {% if best.discount %}
                                                    <div class="price-box">
                                                        <span class="price">&#8381;{{ best.get_sale }}</span>
                                                        <span class="old-price">&#8381;{{ best.price }}</span>
                                                    </div>
                                                        {% else %}
                                                    <div class="price-box">
                                                        <span class="price">&#8381;{{ best.price }}</span>
                                                    </div>
                                                    {% endif %}
                                                {% endif %}
												<span class="rating">
                                                    <!--Вывод звезд рейтинга-->
                                                    {% for x in '12345' %}
                                                    <i class="fa fa-star{% if forloop.counter <= best.rating %}{% else %}-o{% endif %}" ></i>
                                                    {% endfor %}
												</span>
                                                <div class="col-lg-8 pull-right">
                                                <span>Vendor code: <span class="text-stock">{{ best.vendor_code }}</span></span>
                                                </div>
											</div>
										</div>
                                        {% endfor %}
										<!-- End Single-Product -->
									</div>
                                    {% endfor %}
								</div>
							</div>
						</div>
                        {% endif %}

						<!-- END SMALL-PRODUCT-AREA -->