{#В этом шаблоне вывод промежуточных категорий для блока категорий из шаблона meny-category.html, обрабатывает функция catlinks#}
{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load mptt_tags %}

{% block title %}
    {{ thiscat.name }}
{% endblock %}

{% block content %}

    <!-- START PAGE-CONTENT -->
    <section class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="page-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'shop:catalog' %}">Catalog</a></li>
                        <li class="active"><a href="">{{ thiscat.name }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {% include 'shop/menu-category.html' %} <!-- Подгружаем код из шаблона shop/menu-category.html -->
                </div>
                <div class="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-8">
                        <!-- Переменные все определены в  shop/context_processors метод get_menu_categories -->
                            {% for node in nodes %}
                                {% for child in node.children %}
                                    {% if node.id == thiscat.id %}
                                        <div class="category-item-desktop">
                                            {% if child.img %}
                                                <a href="{{ child.url }}">
                                                    <img class="image" src="{{ child.img }}"
                                                         style="width: 200px; height: 150px" alt="">
                                                </a>
                                            {% else %}
                                                <p>Нет изображения</p>
                                            {% endif %}
                                            <div class="image">
                                                <h3><a href="{{ child.url }}">{{ child.name }}</a></h3>
                                                <!-- Количество товаров в подкатегории. Метод product_items_count из модели Category -->
                                                <p>Подкатегорий: &nbsp;{{ child.subcategory_items_count }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}