{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load core %}



{% block content %}

<div class="container">
{% if categories or products %}
    <section class="cd-products-comparison-table">
        <header>
            <h2>Сравнение товаров</h2>

            <div class="actions">
                <a href="#0" class="reset">Сброс</a>
                <a href="#0" class="filter">Фильтр</a>
                <button class="btn btn-danger" id="compare_delete_product" style="width: 100px; height: 38.2px; margin-left: 15px; margin-top: -3px;">
                    Удалить
                </button>
            </div>
        </header>

        <ul class="page-menu">
            {% for category in categories %}
                {% url 'shop:compare-products-by-category' category.slug as cat_url %}
                <li class="{% if cat_url == request.path %}active{% endif %}">
                    <a href="{{ cat_url }}">{{ category.name }}</a>
                <span class="badge" style="margin-left: 5px;">{{ category.product_count }}</span>
                </li>
            {% endfor %}
        </ul>

        <div class="cd-products-table">
            <div class="features">
                <div class="top-info">Модель</div>
                <ul class="cd-features-list">
                    <li>Цена</li>
                    <li>Рейтинг</li>
                    {% for attr in attributes %}
                    <li>{{ attr.title }}</li>
                    {% endfor %}
                </ul>
            </div> <!-- .features -->

            <div class="cd-products-wrapper">
                <ul class="cd-products-columns">
                    {% for product in products %}<li class="product">
                        <div class="top-info">
                            <div class="check"></div>
                            <a href="{{ product.get_url }}">
                                <img src="{{ product.image_url }}" alt="product image" style="display: block; margin: auto;">
                                <h3>{{ product.title }}</h3>
                            </a>
                        </div> <!-- .top-info -->

                        <ul class="cd-features-list">
                            <li>&#8381;{{ product.price }}</li>
                            <li><span class="rating">
                                {% for x in '12345' %}
                                    <i class="fa fa-star{% if forloop.counter <= product.rating %}{% else %}-o{% endif %}" ></i>
                                {% endfor %}
                            </span></li>
                            {% for attr in attributes %}
                            <li>{{ product.attributes|get_item:attr.pk }}</li>
                            {% endfor %}
                        </ul>
                    </li> <!-- .product -->{% endfor %}

                </ul> <!-- .cd-products-columns -->
            </div> <!-- .cd-products-wrapper -->

            <ul class="cd-table-navigation">
                <li><a href="#0" class="prev inactive">Prev</a></li>
                <li><a href="#0" class="next">Next</a></li>
            </ul>
        </div> <!-- .cd-products-table -->
    </section> <!-- .cd-products-comparison-table -->
    {% else %}
    <h2 style="text-align: center">Вы не добавили товар для сравнения</h2>
{% endif %}
</div>


        <!-- Этот файл стилей используется на странице сравнения продуктов shop/compare.html -->
	<link rel="stylesheet" href="{% static 'compare-products/css/reset.css' %}">

    <!-- Этот файл стилей используется на странице сравнения продуктов shop/compare.html -->
	<link rel="stylesheet" href="{% static 'compare-products/css/style.css' %}">

    <!-- Этот стиль шрифтов использует страница сравнения продуктов shop/compare.html -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>



{% endblock %}

