{% load staticfiles %}
{% load mptt_tags %}
{% load i18n mptt_tags %}
{% load thumbnail %}


<div class="small-product-area carosel-navigation hidden-sm hidden-xs">
    <div class="row">
        <div class="col-md-12">
            <div class="area-title">
                <h3 class="title-group gfont-1">Пустой блок</h3>
            </div>
        </div>
    </div>
<br>
    <div class="row">
        <div class="active-bestseller sidebar">

            <div class="col-xs-12">
                <!--Currency Converter widget by FreeCurrencyRates.com -->

            </div>


{#            <div class="col-xs-12">#}
{#                2#}
{#            </div>#}

        </div>
    </div>
</div>


