{% load staticfiles %}

{#Этот шаблон обрабатывает функция filters() из модуля context_processors.py#}



<form>
    <div class="shop-filter">
        <div class="area-title">
            <h3 class="title-group gfont-1">Filters Products</h3>
        </div>
        <h4 class="shop-price-title">Price</h4>
        <div class="info_widget">
            <div class="price_filter">
                <div id="slider-range" data-min="{{ filters.initial_min_price }}" data-max="{{ filters.initial_max_price }}"></div>
                <div class="price_slider_amount">
                    <ul>
                        <p>{{ filters.min_price }}</p>
                        <p>{{ filters.max_price }}</p>
                    </ul>
                    <input type="submit"  value="Filter"/>
                </div>
            </div>
        </div>
    </div>
    <hr class="line"/>
    <div class="accordion_one">
        {{ filters.brand }}
        {{ filters.filter }}
    </div>
    <div class="">
        <input type="submit" class="btn btn-info pull-left" style="background-color: #26ACCE;" value="Filter"/>
        <a href="{{ request.path }}" class="btn btn-danger pull-right">Reset</a>
    </div>
</form>

