{% load staticfiles %}


<!-- FOOTER-AREA START -->
<footer class="footer-area">
    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="footer-title">
                        <h5>My Account</h5>
                    </div>
                    <nav>
                        <ul class="footer-content">
                            <li><a href="{% url 'user_profile' %}">My Account</a></li>
                            <li><a href="{% url 'my_orders' %}">Order History</a></li>
                            <li><a href="{% url 'my_wish_list' %}">Wish List</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="footer-title">
                        <h5>Customer Service</h5>
                    </div>
                    <nav>
                        <ul class="footer-content">
                            <li><a href="{% url 'contacts:contact' %}">Contact Us</a></li>
                            <li><a href="{% url 'contacts:about' %}">About Us</a></li>
                            <li><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Privacy Policy</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-12 hidden-sm col-md-3">
                    <div class="footer-title">
                        <h5>Payment & Shipping</h5>
                    </div>
                    <nav>
                        <ul class="footer-content">
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="{% url 'contacts:delivery' %}">Delivery Information</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="footer-title">
                        <h5>Contacts</h5>
                    </div>
                    <nav>
                        {% for adres in address %}
                            <ul class="footer-content box-information">
                                <li>
                                    <i class="fa fa-home"></i><span>{{ adres.address }}</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o"></i>
                                    <p><a href="mailto:blazer-05@mail.ru">{{ adres.email_one }}</a></p>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span>{{ adres.phone_one }}</span> <br> <span> {{ adres.phone_two }}</span>
                                </li>
                            </ul>
                            {% empty %}
                            <p>Нет добавленных контактов</p>
                        {% endfor %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Copyright-area Start -->
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright &copy; <a href="http://tehnopoint.pp.ua/" target="_blank"> technostyle.pp.ua </a> All rights reserved.</p>
                        <div class="payment">
                            <a href="#"><img src="{% static 'shop/img/payment.png' %}" alt="Payment"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright-area End -->
</footer>
<!-- FOOTER-AREA END -->

