
{% load staticfiles %}

<!--Модальное окно выводится в base.html, shop.html и shop-list.html
для допросмотра и добавления товара в корзину. Вызывается по всплывающей кнопке лупы на товаре-->


                        <div class="product-images">
                            <div class="main-image images">
                                <img alt="#" src="{{ modal_product.images.url }}"/>
                            </div>
                        </div><!-- .product-images -->
                        <div class="product-info">
                            <h1>{{ modal_product.title }}</h1>
                            <div class="price-box-3">
                                <hr />
                                <div class="s-price-box">
                                    <span class="new-price">${{ modal_product.get_sale }}</span>
                                    <span class="old-price">${{ modal_product.price }}</span>
                                </div>
                                <hr />
                            </div>
                            <a href="{{ modal_product.get_absolute_url }}" class="see-all">See all features</a>
                            <div class="quick-add-to-cart">
                                <form class="product-quantity" onsubmit="return addToCart(event)">
                                        <div style="display: inline-block; width: 110px">
                                            <div class="input-group plus-minus-widget">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button" style="height: 40px; width: 35px" onclick="quantityChange(event, -1)">-</button>
                                                </span>
                                                <input type="text" placeholder="1" value="1" name="quantity" class="form-control" style="height: 40px">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button" style="height: 40px; width: 35px" onclick="quantityChange(event, +1)">+</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div style="display: inline-block;">
                                            <div class="input-group">
                                                <input type="hidden" name="product" value="{{ modal_product.slug }}"/>
                                                {% if product.stock == 0 %}
                                                    {% else %}
                                                <button type="submit" class="toch-button toch-add-cart">Add to Cart</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                </form>
                            </div>
                            <div class="quick-desc">
                                {{ modal_product.descriptions|truncatewords:25|safe }}
                            </div>
                            <div class="social-sharing">
                                <div class="widget widget_socialsharing_widget">
                                    <h3 class="widget-title-modal">Share this product</h3>
                                    <ul class="social-icons">
                                        <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                                        <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                                        <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .product-info -->
