{#В этом шаблоне выводится товар с полным описанием, обрабатывает функция productdetails#}
{% extends 'shop/base.html' %}
{% load thumbnail %}
{% load staticfiles %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block content %}
		<!-- START PAGE-CONTENT -->
		<section class="page-content">
			<div class="container">
	            <div class="row">
					<div class="col-md-12">
						<ul class="page-menu">
							<li><a href="/">Home</a></li>
                            <li><a href="{% url 'shop:catalog' %}">Catalog</a></li>
                            <li><a href="{% url 'shop:catlist' product.category.parent.slug %}">Основные</a></li>
							<li><a href="{% url 'shop:shop-list' product.category.slug %}">{{ product.category }}</a></li>
							<li class="active"><a href="">{{ product.title }}</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						{% include 'shop/menu-category.html' %} <!-- Подгружаем код из шаблона shop/menu-category.html -->
						{% include 'shop/bestseller.html' %} <!--Подгружаем код из файла shop/bestseller.html -->
						<!-- START SIDEBAR-BANNER -->
	                    <div class="sidebar-banner hidden-sm hidden-xs">
	                    	<div class="active-sidebar-banner">
	                    		<div class="single-sidebar-banner">
	                    			<a href=""><img src="{% static 'shop/img/banner/1.jpg' %}" alt="Product Banner"></a>
	                    		</div>
	                    		<div class="single-sidebar-banner">
	                    			<a href=""><img src="{% static 'shop/img/banner/2.jpg' %}" alt="Product Banner"></a>
	                    		</div>
	                    	</div>
	                    </div>
	                    <!-- END SIDEBAR-BANNER -->
					</div>
					<div class="col-md-9 col-sm-12 col-xs-12">
						<!-- Start Toch-Prond-Area -->
						<div class="toch-prond-area">
							<div class="row">
								<div class="col-md-5 col-sm-5 col-xs-12">
									<div class="clear"></div>
									<div class="tab-content">
										<!-- Product = display-1-1 -->
										<div role="tabpanel" class="tab-pane fade in active" id="display-1">
											<div class="row">
												<div class="col-xs-12">
													<div class="toch-photo">
														<a href="#"><img src="{{ product.images.url }}" data-imagezoom="true" alt="" /></a>
													</div>
												</div>
											</div>
										</div>
										<!-- End Product = display-1-1 -->
									</div>
									<!-- Start Toch-prond-Menu -->
                                    {% for alb in albom %}
									<div class="toch-prond-menu">
										<ul role="tablist">
											<li role="presentation" class=" active"><a onclick="changeIMG('{{ alb.image.url }}')" href="{{ alb.image.url }}" role="tab" data-toggle="tab"><img src="{{ alb.image|thumbnail_url:'images' }}" alt="" /></a></li>
										</ul>
									</div>
                                        {% empty %}
                                            <p>Нет доп. изображения</p>
                                    {% endfor %}
									<!-- End Toch-prond-Menu -->
                                    <!-- ява скрипт меняет картинки в главном окне с изображением -->
                                    <script type="text/javascript">
                                        var img = document.getElementById("display-1").getElementsByTagName("img")[0]; //получаем большую картинку.
                                        function changeIMG(str){
                                          img.setAttribute('src', str);
                                        }
                                        </script>
								</div>
								<div class="col-md-7 col-sm-7 col-xs-12">
									<h2 class="title-product"> {{ product.title }}</h2>
									<div class="about-toch-prond">
										<p>
											<span class="rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
											</span>
											<a href="#">1 reviews</a>
											/
											<a href="#">Write a review</a>
										</p>
										<hr />
										<p class="short-description">Описание 1</p>
										<hr />
										<span class="current-price">${{ product.price }}</span>
										<span class="item-stock">Availability: <span class="text-stock">{{ product.stock }} In Stock</span></span>
									</div>
									<div class="about-product">
										<div class="product-select product-color">
											<label><sup>*</sup>Color</label>
											<select class="form-control">
												<option> --- Please Select --- </option>
												<option>Black (+$10.00) </option>
												<option>White (+$8.00)</option>
												<option>Pink (+$30.00)</option>
												<option>Green (+$30.00)</option>
											</select>
										</div>
										<div class="product-select product-Size">
											<label><sup>*</sup>Size</label>
											<select class="form-control">
												<option> --- Please Select --- </option>
												<option>Small (+$10.00)</option>
												<option>Medium (+$20.00)</option>
												<option>Large (+$30.00)</option>
												<option>Extra Large (+$35.00)</option>
											</select>
										</div>
										<div class="product-select product-type">
											<label><sup>*</sup>Text</label>
											<input type="text"  class="form-control" placeholder="Text"/>
										</div>
										<div class="product-select product-date">
											<label><sup>*</sup>Date</label>
											<input type="text"  class="form-control" placeholder="2016/02/15"/>
										</div>
										<div class="product-select product-checkbox">
											<label><sup>*</sup>Checkbox</label>
											<label><input type="checkbox" /> Checkbox 1  (+$5.00)</label>
										</div>
										<div class="product-select product-button">
											<button type="submit" >
												<i class="fa fa-calendar"></i>
											</button>
										</div>
									</div>
									<div class="product-quantity">
										<span>Qty</span>
										<input type="number" placeholder="1" />
										<button type="submit" class="toch-button toch-add-cart">Add to Cart</button>
										<button type="submit" class="toch-button toch-wishlist">wishlist</button>
										<button type="submit" class="toch-button toch-compare">Compare</button>
										<hr />
{#										<a href="#"><img src="{% static 'shop/img/icon/social.png' %}" alt="#" /></a>#}
									</div>
								</div>
							</div>
							<!-- Start Toch-Box -->
                            <div class="toch-box">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#home" data-toggle="tab">Описание</a></li>
                                    <li><a href="#profile" data-toggle="tab">Характеристики</a></li>
                                    <li><a href="#messages" data-toggle="tab">Комментарии</a></li>
                                    <li><a href="#settings" data-toggle="tab">Отзывы</a></li>
                                </ul>
                                <br>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="home">Текст описания 1</div>
                                    <div class="tab-pane fade in" id="profile">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                {{ product.descriptions|safe }}
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade in" id="messages">Текст описания 3</div>
                                    <div class="tab-pane fade in" id="settings">Текст описания 4</div>
                                </div>

                            </div>
							<!-- End Toch-Box -->
							<!-- START PRODUCT-AREA -->
							<div class="product-area">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<!-- Start Product-Menu -->
										<div class="product-menu">
											<div class="product-title">
												<h3 class="title-group-2 gfont-1">Товары из этой категории</h3>
											</div>
										</div>
									</div>
								</div>
								<!-- End Product-Menu -->
								<div class="clear"></div>
								<!-- Start Product -->
								<div class="product carosel-navigation">
									<div class="row">
										<div class="active-product-carosel">

                                            {% for top in top_five_products_category %}
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="{{ top.get_absolute_url }}">
															<img class="primary-img" src="{{ top.images|thumbnail_url:'images' }}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">{{ top.title }}</a></h5>
														<div class="price-box">
															<span class="price">${{ top.price }}</span>
                                                            <span class="old-price">$110.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
                                            {% endfor %}

										</div>
									</div>

								</div>
								<!-- End Product -->
							</div>
							<!-- END PRODUCT-AREA -->
							<!-- START PRODUCT-AREA -->
							<div class="product-area">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<!-- Start Product-Menu -->
										<div class="product-menu">
											<div class="product-title">
												<h3 class="title-group-2 gfont-1">Все товары</h3>
											</div>
										</div>
									</div>
								</div>
								<!-- End Product-Menu -->
								<div class="clear"></div>
								<!-- Start Product -->
								<div class="product carosel-navigation">
									<div class="row">
										<div class="active-product-carosel">

                                            {% for top5 in top_five_products %}
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product">
													<div class="product-img">
														<a href="{{ top5.get_absolute_url }}">
															<img class="primary-img" src="{{ top5.images|thumbnail_url:'images' }}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="#">{{ top5.title }}</a></h5>
														<div class="price-box">
															<span class="price">${{ top5.price }}</span>
                                                            <span class="old-price">$110.00</span>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
                                            {% endfor %}

										</div>
									</div>

								</div>
								<!-- End Product -->
							</div>
							<!-- END PRODUCT-AREA -->
						</div>
						<!-- End Toch-Prond-Area -->
					</div>
				</div>
			</div>
        </section>
{% endblock content %}

{% comment %}

<!-- Start Toch-Box -->
							<div class="toch-box">
								<div class="row">
									<div class="col-xs-12">
										<!-- Start Toch-Menu -->
										<div class="toch-menu">
											<ul role="tablist">
												<li role="presentation" class=" active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
												<li role="presentation"><a href="#reviews" role="tab" data-toggle="tab">Reviews (1)</a></li>
											</ul>
										</div>
										<!-- End Toch-Menu -->
										<div class="tab-content toch-description-review">
											<!-- Start display-description -->
											<div role="tabpanel" class="tab-pane fade in active" id="description">
												<div class="row">
													<div class="col-xs-12">
														<div class="toch-description">
															<p>
                                                                Описание.
															</p>
														</div>
													</div>
												</div>
											</div>
											<!-- End display-description -->
											<!-- Start display-reviews -->
											<div role="tabpanel" class="tab-pane fade" id="reviews">
												<div class="row">
													<div class="col-xs-12">
                                                        <div class="toch-description">
														    <p>
                                                                Описание 2.
                                                            </p>
                                                        </div>
													</div>
												</div>
											</div>
											<!-- End Product = display-reviews -->
										</div>
									</div>
								</div>
							</div>
							<!-- End Toch-Box -->

{% endcomment %}