<!--В этом шаблоне выводится товар с полным описанием, обрабатывает функция productdetails-->
{% extends 'shop/base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% load banner %}
{% load comments %} <!-- Загружаем темплейттег комментариев -->
{% load review %}

{% block keywords %}{{ product.meta_keywords }}{% endblock %}
{% block description %}{{ product.meta_descriptions }}{% endblock %}

{% block title %}
    Купить {{ product.title }} в интернет магазине Tehnostyle. Характеристики, цена на {{ category.name }} {{ product.title }}
{% endblock %}

{% block content %}
		<!-- START PAGE-CONTENT -->
		<section class="page-content">
			<div class="container">
	            <div class="row">
					<div class="col-md-12">
						<ul class="page-menu">
							<li><a href="/">Home</a></li>
                            <li><a href="{% url 'shop:catalog' %}">Catalog</a></li>
                            <li><a href="{% url 'shop:catlist' product.category.parent.slug %}">Основные</a></li>
							<li><a href="{% url 'shop:shop-list' product.category.slug %}">{{ product.category }}</a></li>
							<li class="active"><a href="">{{ product.title }}</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						{% include 'shop/menu-category.html' %} <!-- Подгружаем код из шаблона shop/menu-category.html -->
						{% include 'shop/bestseller.html' %} <!--Подгружаем код из файла shop/bestseller.html -->
						<!-- START SIDEBAR-BANNER -->
	                    <div class="sidebar-banner hidden-sm hidden-xs">
                            <div class="sidebar-banner">
                                {% left_block_banner %} <!--Баннер из левого блока -->
                            </div>
	                    </div>
	                    <!-- END SIDEBAR-BANNER -->
					</div>

					<div class="col-md-9 col-sm-12 col-xs-12">

                    <!-- Вывод сообщения об отправке комментария.  -->
                    {% if messages %}
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                &times;
                            </button>
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

						<!-- Start Toch-Prond-Area -->
						<div class="toch-prond-area">
							<div class="row jq-product-wrapper"> <!-- jq-product-wrapper - класс полето товара в корзину! -->
								<div class="col-md-5 col-sm-5 col-xs-12">
									<div class="clear"></div>
									<div class="tab-content">
										<!-- Product = display-1-1 -->
										<div role="tabpanel" class="tab-pane fade in active" id="display-1">
											<div class="row">
												<div class="col-xs-12">
													<div class="toch-photo">
														<a href="#"><img src="{{ product.images|thumbnail_url:'product' }}" data-imagezoom="true" alt="" /></a>
													</div>
												</div>
											</div>
										</div>
										<!-- End Product = display-1-1 -->
									</div>
									<!-- Start Toch-prond-Menu -->

                                    {% for alb in albom %}
									<div class="toch-prond-menu" align="center">
										<ul role="tablist">
											<li role="presentation" class="active">
                                                <a onclick="changeIMG('{{ alb.image.url }}')" href="{{ alb.image.url }}" role="tab" data-toggle="tab">
                                                    <img src="{{ alb.image|thumbnail_url:'alb' }}" style="width: 74px; height: 74px" alt="" />
                                                </a>
                                            </li>
										</ul>
									</div>
                                    {% empty %}
                                        <p>Нет доп. изображения</p>
                                    {% endfor %}

									<!-- End Toch-prond-Menu -->
                                    <!-- ява скрипт меняет картинки в главном окне с изображением -->
                                    <script type="text/javascript">
                                        var img = document.getElementById("display-1").getElementsByTagName("img")[0]; //получаем большую картинку.
                                        function changeIMG(str){
                                          img.setAttribute('src', str);
                                        }
                                        </script>
								</div>
								<div class="col-md-7 col-sm-7 col-xs-12">
									<h2 class="title-product"> {{ product.title }}</h2>
									<div class="about-toch-prond">
										<p>
											<span class="rating">
                                                <!--Вывод звезд рейтинга-->
                                                {% for x in '12345' %}
                                                <i class="fa fa-star{% if forloop.counter <= product.rating %}{% else %}-o{% endif %}" ></i>
                                                {% endfor %}
											</span>
                                            <!-- Якорная ссылка на блок табов "menu" и вкладку "reviews" с прокруткой -->
                                            <span class="text-stock">
                                                <a href="#menu" onclick="$('a[href=#reviews]').tab('show');"> {{ product.review_count }} reviews</a>
                                                /
                                                <a href="#menu" onclick="$('a[href=#reviews]').tab('show');">Write a review</a>
                                            </span>
										</p>
                                        <p>
                                            Оценка товара: <span class="text-stock">{% if product.rating %}{{ product.rating|floatformat }}{% else %}0{% endif %}</span> из <span class="text-stock">5</span>
                                        </p>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <span>Vendor code: <span class="text-stock">{{ product.vendor_code }}</span></span>
                                            </div>
                                        </div>
										<hr />
										<p class="short-description">{{ product.descriptions|truncatewords:25|safe }}</p>
										<hr />
                                        {% if product.stock == 0 %}
                                            <p>Out of stock</p>
                                        {% else %}
                                            {% if product.discount %}
                                                <span class="current-price">${{ product.get_sale }}</span>
                                                <span class="old-price">${{ product.price }}</span>
                                            {% else %}
                                                <span class="current-price">${{ product.price }}</span>
                                            {% endif %}
                                        {% endif %}
                                        <span class="item-stock">Availability: <span class="text-stock">
                                            {% if product.stock == 0 %}
                                                <p>Out of stock</p>
                                            {% else %}
                                                {{ product.stock }} In Stock</span>
                                            {% endif %}
                                        </span>
									</div>


                                <div class="">
									<form class="product-quantity" onsubmit="return addToCart(event)">

                                        <div style="display: inline-block; width: 110px">
                                            <div class="input-group plus-minus-widget">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button" style="height: 40px; width: 35px" onclick="quantityChange(event, -1)">-</button>
                                                </span>
                                                <input type="text" placeholder="1" value="1" name="quantity" class="form-control" style="height: 40px">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button" style="height: 40px; width: 35px" onclick="quantityChange(event, +1)">+</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div style="display: inline-block;">
                                            <div class="input-group">
                                                <input type="hidden" name="product" value="{{ product.slug }}"/>
                                                {% if product.stock == 0 %}
                                                    {% else %}
                                                    {% if product.is_active %}
                                                        <button type="submit" class="toch-button toch-add-cart">Add to Cart</button>
                                                    {% endif %}
                                                {% endif %}
                                                {% if request.user.is_authenticated %}
                                                    <a href="{% url 'my_wish_list_add' product.id %}" class="add_to_wishlist toch-button toch-wishlist">wishlist
                                                        <i class="fa {% if product.in_wishlist %}fa-heart{% else %}fa-heart-o{% endif %}"></i>
                                                    </a>
                                                {% else %}
                                                    <a href="{% url 'account_login' %}" data-toggle="tooltip" title="Войдите на сайт" class="toch-button toch-wishlist">wishlist <i class="fa fa-heart-o"></i></a>
                                                {% endif %}
{#                                                <button type="submit" class="toch-button toch-wishlist">wishlist</button>#}
                                                <button type="submit" class="toch-button toch-compare">Compare</button><br>
                                            </div>
                                        </div>
										<hr />
{#										<a href="#"><img src="{% static 'shop/img/icon/social.png' %}" alt="#" /></a>#}
									</form>
                                    <!-- notification -->
                                        <p id="subscribed_for_notification"></p>
                                        {% if not product.stock %}
                                            {% if check_for_subscribe %}
                                            <p>Вы подписались на уведомления о поступлении. Как только товар появится, мы Вам сообщим</p>
                                                {% else %}
                                            <div class="user_subscribed">
                                                <p class="lead">
                                                    Товар отсутствует. Если Вы хотите получать уведомления о его
                                                    поступлении, нажмите на кнопку</p>
                                                <a href="#" class="subscribe-notify" data-slug="{{ product.slug }}">
                                                    <button class="btn btn-info toch-button toch-add-cart">Уведомить</button>
                                                </a>
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    <!-- end notification -->
								</div>
							</div>
                        </div>

                        <div class="row">
							<!-- Start Toch-Box -->
                            <div class="toch-box" id="menu">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#description" data-toggle="tab">Описание</a></li>
                                    <li><a href="#characteristics" data-toggle="tab">Характеристики</a></li>
                                    <li><a href="#comments" data-toggle="tab">Комментарии</a></li>
                                    <li><a href="#reviews" data-toggle="tab">Отзывы</a></li>
                                    <li><a href="#action" data-toggle="tab">Акция</a></li>
                                </ul>
                                <br>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active bmw" id="description"><h3 class="title-product">Описание: {{ product.title }}</h3>
                                        {{ product.descriptions|safe }}
                                        <div class="table-responsive">
                                            <table class="table table-hover bmw">
                                                <h3 class="title-product">Основные характеристики: {{ product.title }}</h3>
                                                {% for entry in product.entry_set.active %}
                                                    <tbody style="border: none">
                                                    <tr>
                                                        <td class="col-xs-6 dots" style="border: 0px; width: 60%">
                                                            <b>{{ entry.attribute }}</b></td>
                                                        <td class="col-xs-6"
                                                            style="border: 0px; width: 60%">{{ entry.value }}</td>
                                                    </tr>
                                                    </tbody>
                                                {% endfor %}
                                            </table>
                                        </div>
                                        <a href="#menu" onclick="$('a[href=#characteristics]').tab('show');">Все характеристики</a>
                                    </div>
                                    <div class="tab-pane fade in" id="characteristics">
                                        <div class="table-responsive">
                                                <table class="table table-hover bmw">
                                                    <h3 class="title-product">Характеристики: {{ product.title }}</h3>
                                                    {% for entry in product.entry_set.active %}
                                                        <tbody style="border: none">
                                                            <tr>
                                                                <td class="col-xs-6 dots" style="border: 0px; width: 60%"><b>{{ entry.attribute }}</b></td>
                                                                <td class="col-xs-6" style="border: 0px; width: 60%">{{ entry.value }}</td>
                                                            </tr>
                                                        </tbody>
                                                    {% endfor %}
                                                </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade in" id="comments"><h2 class="title-product"></h2>

                                        {% add_comment product request %} <!-- Вывод темплейттега с комментариями -->

                                    </div>
                                    <div class="tab-pane fade in" id="reviews"><h2 class="title-product"></h2>

                                        {% review_list request product %} <!-- Вывод темплейттега с отзывами (product - это второй параметр из вьюхи review_list) -->

                                    </div>
                                    <div class="tab-pane fade in" id="action"><h2 class="title-product">
                                        {% if product.need_timer %}
                                            <p>Для этого товара действует акция!</p>
                                        <div class="timer">
                                            <div class="eTimer" data-etDate="{{ product.timer_before|date:"d.m.Y.H.i"}}"></div>
                                        </div>
                                            <br>
                                            <p>{{ product.akciya_text|safe }}</p>
                                            {% else %}
                                            <p style="font-size: 18px">На данный момент для этого товара акции нет</p>
                                        {% endif %}
                                        <script src="{% static 'shop/js/jquery-1.11.3.min.js' %}"></script>
                                        <!-- Скрипт таймера акции. jsкод скрипта в статике shop/js/etimer.js подключен в base.html В файле скрипта etimer.js стр.93-94 настройка ссылки -->
                                        <script type="text/javascript">
                                            jQuery(document).ready(function() {
                                                jQuery(".eTimer").each(function( index ) {
                                                    var etDate = $( this ).attr('data-etDate')
                                                    $( this ).eTimer({etType: 0, etDate: etDate, etTitleText: "До окончания акции осталось:", etTitleSize: 16, etShowSign: 1, etSep: " ", etFontFamily: "Roboto", etTextColor: "#0d0505", etPaddingTB: 0, etPaddingLR: 0, etBackground: "white", etBorderSize: 0, etBorderRadius: 0, etBorderColor: "white", etShadow: " 0px 0px 10px 0px white", etLastUnit: 4, etNumberFontFamily: "Impact", etNumberSize: 24, etNumberColor: "white", etNumberPaddingTB: 0, etNumberPaddingLR: 5, etNumberBackground: "#ED7987", etNumberBorderSize: 0, etNumberBorderRadius: 0, etNumberBorderColor: "white", etNumberShadow: "inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5)"
                                                    });
                                                });
                                            });
                                        </script>
                                    </h2></div>
                                </div>

                            </div>
							<!-- End Toch-Box -->
							<!-- START PRODUCT-AREA -->
							<div class="product-area">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<!-- Start Product-Menu -->
										<div class="product-menu">
											<div class="product-title">
                                                <h3 class="title-group-2 gfont-1"><a href="{{ category.get_absolute_url }}">Другие товары из категории: {{ category }}</a></h3>
											</div>
										</div>
									</div>
								</div>
								<!-- End Product-Menu -->
								<div class="clear"></div>
								<!-- Start Product -->
								<div class="product carosel-navigation">
									<div class="row">
										<div class="active-product-carosel">

                                            {% for pftc in products_from_this_category %}
                                                {% if pftc == product %}<!-- Не выводим просматриваемый продукт в этом блоке -->
                                                    {% else %}
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product jq-product-wrapper"> <!-- jq-product-wrapper - класс полета товара в корзину! -->
                                                    <div class="label_new">
                                                        {% if pftc.new %}
                                                        <span class="new">new</span>
                                                        {% endif %}
                                                    </div>
                                                    <div class="sale-off">
                                                        {% if pftc.discount %}
                                                        <span class="sale-percent">-{{ pftc.discount }}%</span>
                                                        {% endif %}
                                                    </div>
													<div class="product-img" align="center" style="width: 190px; height: 170px">
														<a href="{{ pftc.get_absolute_url }}">
															<img class="primary-img" src="{{ pftc.images|thumbnail_url:'pftc' }}" alt="Product" >
														</a>
													</div>
													<div class="product-description">
														<h5><a href="{{ pftc.get_absolute_url }}">{{ pftc.title|truncatechars:22 }}</a></h5>
                                                        {% if pftc.stock == 0 %}
                                                            <p>Out of stock</p>
                                                        {% else %}
                                                            {% if pftc.discount %}
                                                            <div class="price-box">
                                                                <span class="price">${{ pftc.get_sale }}</span>
                                                                <span class="old-price">{{ pftc.price }}</span>
                                                            </div>
                                                                {% else %}
                                                                    <div class="price-box">
                                                                        <span class="price">${{ pftc.price}}</span>
                                                                    </div>
                                                            {% endif %}
                                                        {% endif %}
                                                        <span class="rating">
                                                            <!--Вывод звезд рейтинга-->
                                                            {% for x in '12345' %}
                                                            <i class="fa fa-star{% if forloop.counter <= pftc.rating %}{% else %}-o{% endif %}" ></i>
                                                            {% endfor %}
                                                        </span><br><br>
                                                        <span>Vendor code: <span class="text-stock">{{ pftc.vendor_code }}</span></span>
													</div>
                                                    <div class="product-action">
                                                        <div class="button-group">
                                                            {% if pftc.stock == 0 %}
                                                                {% else %}
                                                            <div class="product-button">
                                                                <form class="product-button" onsubmit="return addToCart(event)">
                                                                    <input type="hidden" name="product" value="{{ pftc.slug }}">
                                                                    <button type="submit"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                                                </form>
                                                            </div>
                                                            {% endif %}
                                                            <div class="product-button-2">
                                                                {% if request.user.is_authenticated %}
                                                                    <a href="{% url 'my_wish_list_add' pftc.id %}" class="add_to_wishlist" data-toggle="tooltip" title="Add to Wishlist">
                                                                        <i class="fa {% if pftc.in_wishlist %}fa-heart{% else %}fa-heart-o{% endif %}"></i>
                                                                    </a>
                                                                    {% else %}
                                                                    <a href="{% url 'account_login' %}" data-toggle="tooltip" title="Войдите на сайт"><i class="fa fa-heart-o"></i></a>
                                                                {% endif %}
                                                                <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>
                                                                <a href="#" class="modal-view" data-toggle="modal" data-target="#productModal"><i class="fa fa-search-plus"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
												</div>
											</div>
											<!-- End Single-Product -->
                                                {% endif %}
                                            {% endfor %}

										</div>
									</div>

								</div>
								<!-- End Product -->
							</div>
							<!-- END PRODUCT-AREA -->
							<!-- START PRODUCT-AREA -->
							<div class="product-area">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<!-- Start Product-Menu -->
										<div class="product-menu">
											<div class="product-title">
                                                <h3 class="title-group-2 gfont-1"><a href="{% url 'shop:shop' %}">Все товары</a></h3>
											</div>
										</div>
									</div>
								</div>
								<!-- End Product-Menu -->
								<div class="clear"></div>
								<!-- Start Product -->
								<div class="product carosel-navigation">
									<div class="row">
										<div class="active-product-carosel">

                                            {% for allp in all_products %}
											<!-- Start Single-Product -->
											<div class="col-xs-12">
												<div class="single-product jq-product-wrapper"> <!-- jq-product-wrapper - класс полета товара в корзину! -->
                                                    <div class="label_new">
                                                        {% if allp.new %}
                                                        <span class="new">new</span>
                                                        {% endif %}
                                                    </div>
                                                    <div class="sale-off">
                                                        {% if allp.discount %}
                                                        <span class="sale-percent">-{{ allp.discount }}%</span>
                                                        {% endif %}
                                                    </div>
													<div class="product-img" align="center" style="width: 190px; height: 170px"><! -- style="width: 200px; height: 200px" -->
														<a href="{{ allp.get_absolute_url }}">
															<img class="primary-img" src="{{ allp.images|thumbnail_url:'allp' }}" alt="Product">
														</a>
													</div>
													<div class="product-description">
														<h5><a href="{{ allp.get_absolute_url }}">{{ allp.title|truncatechars:22 }}</a></h5>
														<div class="price-box">
                                                        {% if allp.stock == 0 %}
                                                            <p>Out of stock</p>
                                                        {% else %}
                                                            {% if allp.discount %}
                                                            <div class="price-box">
                                                                <span class="price">${{ allp.get_sale }}</span>
                                                                <span class="old-price">{{ allp.price }}</span>
                                                            </div>
                                                                {% else %}
                                                                    <div class="price-box">
                                                                        <span class="price">${{ allp.price}}</span>
                                                                    </div>
                                                            {% endif %}
                                                        {% endif %}
                                                        <span class="rating">
                                                            <!--Вывод звезд рейтинга-->
                                                            {% for x in '12345' %}
                                                            <i class="fa fa-star{% if forloop.counter <= allp.rating %}{% else %}-o{% endif %}" ></i>
                                                            {% endfor %}
                                                        </span><br><br>
                                                        <span>Vendor code: <span class="text-stock">{{ allp.vendor_code }}</span></span>
														</div>
                                                            <div class="product-action">
                                                                <div class="button-group">
                                                                    {% if allp.stock == 0 %}
                                                                        {% else %}
                                                                    <div class="product-button">
                                                                        <form class="product-button" onsubmit="return addToCart(event)">
                                                                            <input type="hidden" name="product" value="{{ allp.slug }}">
                                                                            <button type="submit"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                                                        </form>
                                                                    </div>
                                                                    {% endif %}
                                                                    <div class="product-button-2">
                                                                        {% if request.user.is_authenticated %}
                                                                            <a href="{% url 'my_wish_list_add' allp.id %}" class="add_to_wishlist" data-toggle="tooltip" title="Add to Wishlist">
                                                                                <i class="fa {% if allp.in_wishlist %}fa-heart{% else %}fa-heart-o{% endif %}"></i>
                                                                            </a>
                                                                            {% else %}
                                                                            <a href="{% url 'account_login' %}" data-toggle="tooltip" title="Войдите на сайт"><i class="fa fa-heart-o"></i></a>
                                                                        {% endif %}
                                                                        <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>
                                                                        <a href="#" class="modal-view" data-toggle="modal" data-target="#productModal"><i class="fa fa-search-plus"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
													</div>
												</div>
											</div>
											<!-- End Single-Product -->
                                            {% endfor %}

										</div>
									</div>

								</div>
								<!-- End Product -->
							</div>
							<!-- END PRODUCT-AREA -->
						</div>
						<!-- End Toch-Prond-Area -->
					</div>
				</div>
			</div>
        </section>
{% endblock content %}

{% comment %}

									<div class="about-product">
										<div class="product-select product-color">
											<label><sup>*</sup>Color</label>
											<select class="form-control">
												<option> --- Please Select --- </option>
												<option>Black (+$10.00) </option>
												<option>White (+$8.00)</option>
												<option>Pink (+$30.00)</option>
												<option>Green (+$30.00)</option>
											</select>
										</div>
										<div class="product-select product-Size">
											<label><sup>*</sup>Size</label>
											<select class="form-control">
												<option> --- Please Select --- </option>
												<option>Small (+$10.00)</option>
												<option>Medium (+$20.00)</option>
												<option>Large (+$30.00)</option>
												<option>Extra Large (+$35.00)</option>
											</select>
										</div>
										<div class="product-select product-type">
											<label><sup>*</sup>Text</label>
											<input type="text"  class="form-control" placeholder="Text"/>
										</div>
										<div class="product-select product-date">
											<label><sup>*</sup>Date</label>
											<input type="text"  class="form-control" placeholder="2016/02/15"/>
										</div>
										<div class="product-select product-checkbox">
											<label><sup>*</sup>Checkbox</label>
											<label><input type="checkbox" /> Checkbox 1  (+$5.00)</label>
										</div>
										<div class="product-select product-button">
											<button type="submit" >
												<i class="fa fa-calendar"></i>
											</button>
										</div>
									</div>


                                    <div class="tab-pane fade in active bmw" id="description"><h2 class="title-product">Описание: {{ product.title }}</h2>{{ product.descriptions_two|safe }}</div>
                                    <div class="tab-pane fade in" id="characteristics">
                                        <div class="table-responsive">
                                                <table class="table table-hover bmw">
                                                    <h2 class="title-product">Характеристики: {{ product.title }}</h2>
                                                    {% for entry in product.entry_set.active %}
                                                        <tbody style="border: none">
                                                            <tr>
                                                                <td class="col-xs-6 dots" style="border: 0px; width: 60%">{{ entry.attribute }}</td>
                                                                <td class="col-xs-6" style="border: 0px; width: 60%">{{ entry.value }}</td>
                                                            </tr>
                                                        </tbody>
                                                    {% endfor %}
                                                </table>
                                        </div>
                                    </div>

{% endcomment %}