{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block content %}
		<!-- START PAGE-CONTENT -->
		<section class="page-content">
			<!-- Start Account-Create-Area -->
			<div class="account-create-area">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="page-menu">
								<li><a href="index.html">Home</a></li>
								<li class="active"><a href="registration-account.html">Account</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="area-title">
								<h3 class="title-group gfont-1">Регистрация</h3>
							</div>
						</div>
					</div>
					<div class="account-create">
						<form action="#">
							<div class="row">
								<div class="col-md-12">
									<div class="account-create-box">
										<h2 class="box-info">Персональная информация</h2>
										<div class="row">
											<div class="col-sm-4 col-xs-12">
												<div class="single-create">
													<p>Имя <sup>*</sup></p>
													<input class="form-control" type="text" name="firstname"/>
												</div>
											</div>
											<div class="col-sm-4 col-xs-12">
												<div class="single-create">
													<p>Фамилия <sup>*</sup></p>
													<input class="form-control" type="text" name="lastname"/>
												</div>
											</div>
											<div class="col-sm-4 col-xs-12">
												<div class="single-create">
													<p>Email Адрес <sup>*</sup></p>
													<input class="form-control" type="email" name="email"/>
												</div>
											</div>
											<div class="col-xs-12">
												<p class="for-newsletter"><input type="checkbox" /> Подписаться на рассылку</p>
											</div>
										</div>
									</div>
									<div class="account-create-box">
										<h2 class="box-info">Вход в систему</h2>
										<div class="row">
											<div class="col-md-4 col-sm-6 col-xs-12">
												<div class="single-create">
													<p>Пароль <sup>*</sup></p>
													<input class="form-control" type="password" name="firstname"/>
												</div>
											</div>
											<div class="col-md-4 col-sm-6 col-xs-12">
												<div class="single-create">
													<p>Повторить пароль <sup>*</sup></p>
													<input class="form-control" type="password" name="firstname"/>
												</div>
											</div>
										</div>
									</div>
									<div class="submit-area">
										<p class="required text-right">* Обязательное поле</p>
										<button type="submit" class="btn btn-primary floatright">Отправить</button>
										<a href="login.html" class="float-left"><span><i class="fa fa-angle-double-left"></i></span> Назад</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- End Account-Create-Area -->
        </section>
{% endblock content%}