{% load staticfiles %}
{% load mptt_tags %}
{% load i18n mptt_tags %}
{% load thumbnail %}

{#Этот шаблон обрабатывает функция sale() из модуля context_processors.py#}

						<!-- START SMALL-PRODUCT-AREA (1) -->
						<div class="small-product-area">
							<!-- Start Product-Menu -->
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<div class="product-menu">
										<ul role="tablist">
                                            {% if sale_categories %}
										    <li role="presentation" class=" active"><a href="#display-4-1" role="tab" data-toggle="tab">Sales by category</a></li>
                                            {% endif %}
                                            {% if sale_product %}
										    <li role="presentation"><a href="#display-4-2" role="tab" data-toggle="tab">Sales by product</a></li>
                                            {% endif %}
{#										    <li role="presentation"><a href="#display-4-3"  role="tab" data-toggle="tab">Random</a></li>#}
										</ul>
									</div>
								</div>
							</div>
							<!-- End Product-Menu -->
							<!-- Start Product -->
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<div class="product carosel-navigation">
										<div class="tab-content">
											<!-- Product = display-4-1 -->
                                            {% if sale_categories %}
											<div role="tabpanel" class="tab-pane fade in active" id="display-4-1">
												<div class="row">
                                                    {% for category, sale_cat in sale_categories.items %}
													<div class="active-small-product">
														<!-- Start Single-Product -->
                                                        {% for sale in sale_cat %}
														<div class="col-xs-12">
															<div class="single-product jq-product-wrapper"> <!-- jq-product-wrapper - класс полета товара в корзину! -->
																<div class="product-img" style="width: 105px; height: 160px" align="center">
																	<a href="{{ sale.get_absolute_url }}">
																		<img class="primary-img" src="{{ sale.images|thumbnail_url:'sale' }}" alt="{{ sale.title }}" title="{{ sale.title }}">
																	</a>
																</div>
																<div class="product-description">
																	<h5><a href="{{ sale.get_absolute_url }}">{{ sale.title|truncatechars:15 }}</a></h5>
                                                                    {% if sale.stock == 0 %}
                                                                        <p>Out of stock</p>
                                                                        {% else %}
                                                                            {% if sale.discount %}
                                                                            <div class="price-box">
                                                                                <span class="price">${{ sale.get_sale }}</span>
                                                                                <span class="old-price">${{ sale.price }}</span>
                                                                            </div>
                                                                                {% else %}
                                                                            <div class="price-box">
                                                                                <span class="price">${{ sale.price}}</span>
                                                                            </div>
                                                                            {% endif %}
                                                                    {% endif %}
                                                                    <span class="rating">
                                                                        <!--Вывод звезд рейтинга-->
                                                                        {% for x in '12345' %}
                                                                        <i class="fa fa-star{% if forloop.counter <= sale.rating %}{% else %}-o{% endif %}" ></i>
                                                                        {% endfor %}
																	</span>
                                                                    <div class="">
                                                                    <span>Vendor code: <span class="text-stock">{{ sale.vendor_code }}</span></span>
                                                                    </div>
																	<div class="product-action">
                                                                        <div class="button-group">
                                                                            {% if sale.stock == 0 %}
                                                                                {% else %}
                                                                            <div class="product-button-2">
                                                                                <form class="product-button" onsubmit="return addToCart(event)">
                                                                                    <input type="hidden" name="product" value="{{ sale.slug }}">
                                                                                    <button type="submit" data-toggle="tooltip" title="Add Cart" style="height: 30px; line-height: 30px; padding: 0px; text-align: center; width: 30px; display: inline-block;">
                                                                                        <i class="fa fa-shopping-cart"></i>
                                                                                    </button>
                                                                                    {% if request.user.is_authenticated %}
                                                                                        <a href="{% url 'my_wish_list_add' sale.id %}" class="add_to_wishlist" data-toggle="tooltip" title="Add to Wishlist">
                                                                                            <i class="fa {% if sale.in_wishlist %}fa-heart{% else %}fa-heart-o{% endif %}"></i>
                                                                                        </a>
                                                                                        {% else %}
                                                                                        <a href="{% url 'account_login' %}" data-toggle="tooltip" title="Войдите на сайт"><i class="fa fa-heart-o"></i></a>
                                                                                    {% endif %}
                                                                                <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>
                                                                                </form>
                                                                            </div>
                                                                            {% endif %}
                                                                        </div>
																	</div>
																</div>
															</div>
														</div>
                                                        {% endfor %}
													</div>
                                                    {% endfor %}
												</div>
											</div>
                                            {% endif %}
											<!-- End Product = display-4-1 -->

                                            {% if sale_product %}
											<!-- Start Product = display-4-2 -->
											<div role="tabpanel" class="tab-pane fade" id="display-4-2">
												<div class="row">
													<div class="active-small-product">
														<!-- Start Single-Product -->
                                                        {% for sale in sale_product %}
														<div class="col-xs-12">
															<div class="single-product jq-product-wrapper"> <!-- jq-product-wrapper - класс полета товара в корзину! -->
																<div class="product-img" style="width: 105px; height: 160px" align="center">
																	<a href="{{ sale.get_absolute_url }}">
																		<img class="primary-img" src="{{ sale.images|thumbnail_url:'sale' }}" alt="{{ sale.sale_product.title }}" title="{{ sale.sale_product.title }}">
																	</a>
																</div>
																<div class="product-description">
																	<h5><a href="{{ sale.get_absolute_url }}">{{ sale.title|truncatechars:15 }}</a></h5>
                                                                    {% if sale.stock == 0 %}
                                                                        <p>Out of stock</p>
                                                                        {% else %}
                                                                            {% if sale.discount %}
                                                                            <div class="price-box">
                                                                                <span class="price">${{ sale.get_sale }}</span>
                                                                                <span class="old-price">${{ sale.price }}</span>
                                                                            </div>
                                                                                {% else %}
                                                                            <div class="price-box">
                                                                                <span class="price">${{ sale.price}}</span>
                                                                            </div>
                                                                            {% endif %}
                                                                    {% endif %}
																	<span class="rating">
                                                                        <!--Вывод звезд рейтинга-->
                                                                        {% for x in '12345' %}
                                                                        <i class="fa fa-star{% if forloop.counter <= sale.rating %}{% else %}-o{% endif %}" ></i>
                                                                        {% endfor %}
																	</span>
                                                                    <div class="">
                                                                    <span>Vendor code: <span class="text-stock">{{ sale.vendor_code }}</span></span>
                                                                    </div>
																	<div class="product-action">
                                                                        <div class="button-group">
                                                                            {% if sale.stock == 0 %}
                                                                                {% else %}
                                                                            <div class="product-button-2">
                                                                                <form class="product-button" onsubmit="return addToCart(event)">
                                                                                    <input type="hidden" name="product" value="{{ sale.slug }}">
                                                                                    <button type="submit" data-toggle="tooltip" title="Add Cart" style="height: 30px; line-height: 30px; padding: 0px; text-align: center; width: 30px; display: inline-block;">
                                                                                        <i class="fa fa-shopping-cart"></i>
                                                                                    </button>
                                                                                    {% if request.user.is_authenticated %}
                                                                                        <a href="{% url 'my_wish_list_add' sale.id %}" class="add_to_wishlist" data-toggle="tooltip" title="Add to Wishlist">
                                                                                            <i class="fa {% if sale.in_wishlist %}fa-heart{% else %}fa-heart-o{% endif %}"></i>
                                                                                        </a>
                                                                                        {% else %}
                                                                                        <a href="{% url 'account_login' %}" data-toggle="tooltip" title="Войдите на сайт"><i class="fa fa-heart-o"></i></a>
                                                                                    {% endif %}
                                                                                <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>
                                                                                </form>
                                                                            </div>
                                                                            {% endif %}
                                                                        </div>
																	</div>
																</div>
															</div>
														</div>
                                                        {% endfor %}
													</div>
												</div>
											</div>
											<!-- End Product = display-4-2 -->
                                            {% endif %}

{#											<!-- Start Product = display-4-3 -->#}
{#											<div role="tabpanel" class="tab-pane fade" id="display-4-3">#}
{#												<div class="row">#}
{#													<div class="active-small-product">#}
{#														<!-- Start Single-Product -->#}
{#														<div class="col-xs-12">#}
{#															<div class="single-product">#}
{#																<div class="product-img">#}
{#																	<a href="#">#}
{#																		<img class="primary-img" src="{% static 'shop/img/product/small/1.jpg' %}" alt="Product">#}
{#																	</a>#}
{#																</div>#}
{#																<div class="product-description">#}
{#																	<h5><a href="#">Trid Palm</a></h5>#}
{#																	<div class="price-box">#}
{#																		<span class="price">$99.00</span>#}
{#																		<span class="old-price">$120.00</span>#}
{#																	</div>#}
{#																	<span class="rating">#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star-o"></i>#}
{#																	</span>#}
{#																	<div class="product-action">#}
{#																		<div class="button-group">#}
{#																			<div class="product-button-2">#}
{#																				<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>#}
{#																			</div>#}
{#																		</div>#}
{#																	</div>#}
{#																</div>#}
{#															</div>#}
{#															<div class="single-product">#}
{#																<div class="product-img">#}
{#																	<a href="#">#}
{#																		<img class="primary-img" src="{% static 'shop/img/product/small/5.jpg' %}" alt="Product">#}
{#																	</a>#}
{#																</div>#}
{#																<div class="product-description">#}
{#																	<h5><a href="#">Established Fact</a></h5>#}
{#																	<div class="price-box">#}
{#																		<span class="price">$85.00</span>#}
{#																		<span class="old-price">$110.00</span>#}
{#																	</div>#}
{#																	<span class="rating">#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star-o"></i>#}
{#																	</span>#}
{#																	<div class="product-action">#}
{#																		<div class="button-group">#}
{#																			<div class="product-button-2">#}
{#																				<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>#}
{#																			</div>#}
{#																		</div>#}
{#																	</div>#}
{#																</div>#}
{#															</div>#}
{#															<div class="single-product">#}
{#																<div class="product-img">#}
{#																	<a href="#">#}
{#																		<img class="primary-img" src="{% static 'shop/img/product/small/3.jpg' %}" alt="Product">#}
{#																	</a>#}
{#																</div>#}
{#																<div class="product-description">#}
{#																	<h5><a href="#">Various Versions</a></h5>#}
{#																	<div class="price-box">#}
{#																		<span class="price">$90.00</span>#}
{#																		<span class="old-price">$120.00</span>#}
{#																	</div>#}
{#																	<span class="rating">#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star-o"></i>#}
{#																	</span>#}
{#																	<div class="product-action">#}
{#																		<div class="button-group">#}
{#																			<div class="product-button-2">#}
{#																				<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>#}
{#																			</div>#}
{#																		</div>#}
{#																	</div>#}
{#																</div>#}
{#															</div>#}
{#														</div>#}
{#														<!-- End Single-Product -->#}
{#														<!-- Start Single-Product -->#}
{#														<div class="col-xs-12">#}
{#															<div class="single-product">#}
{#																<div class="product-img">#}
{#																	<a href="#">#}
{#																		<img class="primary-img" src="{% static 'shop/img/product/small/1.jpg' %}" alt="Product">#}
{#																	</a>#}
{#																</div>#}
{#																<div class="product-description">#}
{#																	<h5><a href="#">Established Fact</a></h5>#}
{#																	<div class="price-box">#}
{#																		<span class="price">$85.00</span>#}
{#																		<span class="old-price">$105.00</span>#}
{#																	</div>#}
{#																	<span class="rating">#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star-o"></i>#}
{#																	</span>#}
{#																	<div class="product-action">#}
{#																		<div class="button-group">#}
{#																			<div class="product-button-2">#}
{#																				<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>#}
{#																			</div>#}
{#																		</div>#}
{#																	</div>#}
{#																</div>#}
{#															</div>#}
{#															<div class="single-product">#}
{#																<div class="product-img">#}
{#																	<a href="#">#}
{#																		<img class="primary-img" src="{% static 'shop/img/product/small/5.jpg' %}" alt="Product">#}
{#																	</a>#}
{#																</div>#}
{#																<div class="product-description">#}
{#																	<h5><a href="#">Trid Palm</a></h5>#}
{#																	<div class="price-box">#}
{#																		<span class="price">$99.00</span>#}
{#																		<span class="old-price">$120.00</span>#}
{#																	</div>#}
{#																	<span class="rating">#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star-o"></i>#}
{#																	</span>#}
{#																	<div class="product-action">#}
{#																		<div class="button-group">#}
{#																			<div class="product-button-2">#}
{#																				<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>#}
{#																			</div>#}
{#																		</div>#}
{#																	</div>#}
{#																</div>#}
{#															</div>#}
{#															<div class="single-product">#}
{#																<div class="product-img">#}
{#																	<a href="#">#}
{#																		<img class="primary-img" src="{% static 'shop/img/product/small/3.jpg' %}" alt="Product">#}
{#																	</a>#}
{#																</div>#}
{#																<div class="product-description">#}
{#																	<h5><a href="#">Established Fact</a></h5>#}
{#																	<div class="price-box">#}
{#																		<span class="price">$85.00</span>#}
{#																		<span class="old-price">$110.00</span>#}
{#																	</div>#}
{#																	<span class="rating">#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star-o"></i>#}
{#																	</span>#}
{#																	<div class="product-action">#}
{#																		<div class="button-group">#}
{#																			<div class="product-button-2">#}
{#																				<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>#}
{#																			</div>#}
{#																		</div>#}
{#																	</div>#}
{#																</div>#}
{#															</div>#}
{#														</div>#}
{#														<!-- End Single-Product -->#}
{#														<!-- Start Single-Product -->#}
{#														<div class="col-xs-12">#}
{#															<div class="single-product">#}
{#																<div class="product-img">#}
{#																	<a href="#">#}
{#																		<img class="primary-img" src="{% static 'shop/img/product/small/1.jpg' %}" alt="Product">#}
{#																	</a>#}
{#																</div>#}
{#																<div class="product-description">#}
{#																	<h5><a href="#">Various Versions</a></h5>#}
{#																	<div class="price-box">#}
{#																		<span class="price">$90.00</span>#}
{#																		<span class="old-price">$120.00</span>#}
{#																	</div>#}
{#																	<span class="rating">#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star-o"></i>#}
{#																	</span>#}
{#																	<div class="product-action">#}
{#																		<div class="button-group">#}
{#																			<div class="product-button-2">#}
{#																				<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>#}
{#																			</div>#}
{#																		</div>#}
{#																	</div>#}
{#																</div>#}
{#															</div>#}
{#															<div class="single-product">#}
{#																<div class="product-img">#}
{#																	<a href="#">#}
{#																		<img class="primary-img" src="{% static 'shop/img/product/small/5.jpg' %}" alt="Product">#}
{#																	</a>#}
{#																</div>#}
{#																<div class="product-description">#}
{#																	<h5><a href="#">Established Fact</a></h5>#}
{#																	<div class="price-box">#}
{#																		<span class="price">$85.00</span>#}
{#																		<span class="old-price">$105.00</span>#}
{#																	</div>#}
{#																	<span class="rating">#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star-o"></i>#}
{#																	</span>#}
{#																	<div class="product-action">#}
{#																		<div class="button-group">#}
{#																			<div class="product-button-2">#}
{#																				<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>#}
{#																			</div>#}
{#																		</div>#}
{#																	</div>#}
{#																</div>#}
{#															</div>#}
{#															<div class="single-product">#}
{#																<div class="product-img">#}
{#																	<a href="#">#}
{#																		<img class="primary-img" src="{% static 'shop/img/product/small/3.jpg' %}" alt="Product">#}
{#																	</a>#}
{#																</div>#}
{#																<div class="product-description">#}
{#																	<h5><a href="#">Trid Palm</a></h5>#}
{#																	<div class="price-box">#}
{#																		<span class="price">$99.00</span>#}
{#																		<span class="old-price">$120.00</span>#}
{#																	</div>#}
{#																	<span class="rating">#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star-o"></i>#}
{#																	</span>#}
{#																	<div class="product-action">#}
{#																		<div class="button-group">#}
{#																			<div class="product-button-2">#}
{#																				<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>#}
{#																			</div>#}
{#																		</div>#}
{#																	</div>#}
{#																</div>#}
{#															</div>#}
{#														</div>#}
{#														<!-- End Single-Product -->#}
{#														<!-- Start Single-Product -->#}
{#														<div class="col-xs-12">#}
{#															<div class="single-product">#}
{#																<div class="product-img">#}
{#																	<a href="#">#}
{#																		<img class="primary-img" src="{% static 'shop/img/product/small/1.jpg' %}" alt="Product">#}
{#																	</a>#}
{#																</div>#}
{#																<div class="product-description">#}
{#																	<h5><a href="#">Established Fact</a></h5>#}
{#																	<div class="price-box">#}
{#																		<span class="price">$85.00</span>#}
{#																		<span class="old-price">$110.00</span>#}
{#																	</div>#}
{#																	<span class="rating">#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star-o"></i>#}
{#																	</span>#}
{#																	<div class="product-action">#}
{#																		<div class="button-group">#}
{#																			<div class="product-button-2">#}
{#																				<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>#}
{#																			</div>#}
{#																		</div>#}
{#																	</div>#}
{#																</div>#}
{#															</div>#}
{#															<div class="single-product">#}
{#																<div class="product-img">#}
{#																	<a href="#">#}
{#																		<img class="primary-img" src="{% static 'shop/img/product/small/5.jpg' %}" alt="Product">#}
{#																	</a>#}
{#																</div>#}
{#																<div class="product-description">#}
{#																	<h5><a href="#">Various Versions</a></h5>#}
{#																	<div class="price-box">#}
{#																		<span class="price">$90.00</span>#}
{#																		<span class="old-price">$120.00</span>#}
{#																	</div>#}
{#																	<span class="rating">#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star-o"></i>#}
{#																	</span>#}
{#																	<div class="product-action">#}
{#																		<div class="button-group">#}
{#																			<div class="product-button-2">#}
{#																				<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>#}
{#																			</div>#}
{#																		</div>#}
{#																	</div>#}
{#																</div>#}
{#															</div>#}
{#															<div class="single-product">#}
{#																<div class="product-img">#}
{#																	<a href="#">#}
{#																		<img class="primary-img" src="{% static 'shop/img/product/small/3.jpg' %}" alt="Product">#}
{#																	</a>#}
{#																</div>#}
{#																<div class="product-description">#}
{#																	<h5><a href="#">Established Fact</a></h5>#}
{#																	<div class="price-box">#}
{#																		<span class="price">$85.00</span>#}
{#																		<span class="old-price">$105.00</span>#}
{#																	</div>#}
{#																	<span class="rating">#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star-o"></i>#}
{#																	</span>#}
{#																	<div class="product-action">#}
{#																		<div class="button-group">#}
{#																			<div class="product-button-2">#}
{#																				<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>#}
{#																			</div>#}
{#																		</div>#}
{#																	</div>#}
{#																</div>#}
{#															</div>#}
{#														</div>#}
{#														<!-- End Single-Product -->#}
{#														<!-- Start Single-Product -->#}
{#														<div class="col-xs-12">#}
{#															<div class="single-product">#}
{#																<div class="product-img">#}
{#																	<a href="#">#}
{#																		<img class="primary-img" src="{% static 'shop/img/product/small/1.jpg' %}" alt="Product">#}
{#																	</a>#}
{#																</div>#}
{#																<div class="product-description">#}
{#																	<h5><a href="#">Trid Palm</a></h5>#}
{#																	<div class="price-box">#}
{#																		<span class="price">$99.00</span>#}
{#																		<span class="old-price">$120.00</span>#}
{#																	</div>#}
{#																	<span class="rating">#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star-o"></i>#}
{#																	</span>#}
{#																	<div class="product-action">#}
{#																		<div class="button-group">#}
{#																			<div class="product-button-2">#}
{#																				<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>#}
{#																			</div>#}
{#																		</div>#}
{#																	</div>#}
{#																</div>#}
{#															</div>#}
{#															<div class="single-product">#}
{#																<div class="product-img">#}
{#																	<a href="#">#}
{#																		<img class="primary-img" src="{% static 'shop/img/product/small/5.jpg' %}" alt="Product">#}
{#																	</a>#}
{#																</div>#}
{#																<div class="product-description">#}
{#																	<h5><a href="#">Established Fact</a></h5>#}
{#																	<div class="price-box">#}
{#																		<span class="price">$85.00</span>#}
{#																		<span class="old-price">$110.00</span>#}
{#																	</div>#}
{#																	<span class="rating">#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star-o"></i>#}
{#																	</span>#}
{#																	<div class="product-action">#}
{#																		<div class="button-group">#}
{#																			<div class="product-button-2">#}
{#																				<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>#}
{#																			</div>#}
{#																		</div>#}
{#																	</div>#}
{#																</div>#}
{#															</div>#}
{#															<div class="single-product">#}
{#																<div class="product-img">#}
{#																	<a href="#">#}
{#																		<img class="primary-img" src="{% static 'shop/img/product/small/3.jpg' %}" alt="Product">#}
{#																	</a>#}
{#																</div>#}
{#																<div class="product-description">#}
{#																	<h5><a href="#">Various Versions</a></h5>#}
{#																	<div class="price-box">#}
{#																		<span class="price">$90.00</span>#}
{#																		<span class="old-price">$120.00</span>#}
{#																	</div>#}
{#																	<span class="rating">#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star"></i>#}
{#																		<i class="fa fa-star-o"></i>#}
{#																	</span>#}
{#																	<div class="product-action">#}
{#																		<div class="button-group">#}
{#																			<div class="product-button-2">#}
{#																				<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>#}
{#																				<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>#}
{#																			</div>#}
{#																		</div>#}
{#																	</div>#}
{#																</div>#}
{#															</div>#}
{#														</div>#}
{#														<!-- End Single-Product -->#}
{#													</div>#}
{#												</div>#}
{#											</div>#}
{#											<!-- End Product = display-4-3 -->#}
										</div>
									</div>
								</div>
							</div>
							<!-- End Product -->
						</div>
						<!-- END SMALL-PRODUCT-AREA (1) -->

{% comment %}


{% for sale in sale_product_all %}
														<div class="col-xs-12">
															<div class="single-product">
																<div class="product-img" style="width: 105px; height: 160px" align="center">
																	<a href="{{ sale.sale_product_all.get_absolute_url }}">
																		<img class="primary-img" src="{{ sale.sale_product_all.images|thumbnail_url:'sale' }}" alt="{{ sale.sale_product_all.title }}" title="{{ sale.sale_product_all.title }}">
																	</a>
																</div>
																<div class="product-description">
																	<h5><a href="{{ sale.sale_product_all.get_absolute_url }}">{{ sale.sale_product_all.title|truncatechars:15 }}</a></h5>
                                                                        {% if sale.sale_product_all.discount %}
                                                                        <div class="price-box">
                                                                            <span class="price">${{ sale.sale_product_all.get_sale }}</span>
                                                                            <span class="old-price">${{ sale.sale_product_all.price }}</span>
                                                                        </div>
                                                                            {% else %}
                                                                        <div class="price-box">
                                                                            <span class="price">${{ sale.sale_product_all.price}}</span>
                                                                        </div>
                                                                        {% endif %}
																	<span class="rating">
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star-o"></i>
																	</span>
                                                                    <div class="">
                                                                    <span>Vendor code: <span class="text-stock">{{ sale.sale_product_all.vendor_code }}</span></span>
                                                                    </div>
																	<div class="product-action">
																		<div class="product-button-2">
																			<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>
																			<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>
																			<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
                                                        {% endfor %}

											<!-- Start Product = display-4-2 -->
											<div role="tabpanel" class="tab-pane fade" id="display-4-2">
												<div class="row">
													<div class="active-small-product">
														<!-- Start Single-Product -->
                                                        {% for sale in sale_product %}
														<div class="col-xs-12">
															<div class="single-product">
																<div class="product-img" style="width: 100px; height: 140px">
																	<a href="{{ sale.sale_product.get_absolute_url }}">
																		<img class="primary-img" src="{{ sale.sale_product.images|thumbnail_url:'sale' }}" alt="Product">
																	</a>
																</div>
																<div class="product-description">
																	<h5><a href="{{ sale.sale_product.get_absolute_url }}">{{ sale.sale_product.title|truncatechars:15 }}</a></h5>
                                                                        {% if sale.sale_product.discount %}
                                                                        <div class="price-box">
                                                                            <span class="price">${{ sale.sale_product.get_sale }}</span>
                                                                            <span class="old-price">${{ sale.sale_product.price }}</span>
                                                                        </div>
                                                                            {% else %}
                                                                        <div class="price-box">
                                                                            <span class="price">${{ sale.sale_product.price}}</span>
                                                                        </div>
                                                                        {% endif %}
																	<span class="rating">
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star-o"></i>
																	</span>
                                                                    <div class="">
                                                                    <span>Vendor code: <span class="text-stock">{{ sale.sale_product.vendor_code }}</span></span>
                                                                    </div>
																	<div class="product-action">
																		<div class="product-button-2">
																			<a href="#" data-toggle="tooltip" title="Add Cart"><i class="fa fa-shopping-cart"></i></a>
																			<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart-o"></i></a>
																			<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-signal"></i></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
                                                        {% endfor %}
													</div>
												</div>
											</div>
											<!-- End Product = display-4-2 -->


{% endcomment %}